body{background-color: #fff;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/document/banner1.jpg) no-repeat center;}
/*填写申请表*/
.app-border-left{border-left:1px solid #797979;}
.app-border-right{border-right:1px solid #797979;}
.app-border-bottom{border-bottom:1px solid #797979;}
.app-input{font-size: 18px;color: #333;}
.app-process{width: 1200px;height: 220px;background: url(../images/application/process4.png) no-repeat center;margin-left: auto;margin-right: auto;}
.app-h3{font-size: 28px;color: #ccc;font-weight: normal;text-align: center;letter-spacing: 3px;padding:10px 0 30px;border-bottom: 1px solid #959595;margin: 0 50px 72px;margin-left: auto;margin-right: auto;width: 1100px;}
.application{width: 1200px;height: 1530px;margin-left: auto;margin-right: auto;margin-bottom: 42px;}
.app-content{width: 1018px;height:1530px;border: 1px solid #797979;margin-left: 90px;margin-right: 90px;}
.app-content .app-p1{height: 44px;border-bottom: 1px solid #797979;line-height: 44px;font-size: 18px;color: #333;padding-left: 10px;}
.app-content h4{font-size: 27px;color: #333;text-align: center;font-weight: normal;padding-top: 10px;padding-bottom: 12px;}
.app-content .app-content2{width: 998px;height: 1391px;border: 1px solid #797979;margin-left: 9px;margin-right: 9px;font-size:18px;color: #333;}
.app-content .app-content2 .app-p2{text-align: center;line-height: 38px;border-bottom: 2px solid #797979;}
.app-content .app-content2 .app-p3, .app-content .app-content2 .app-p7{height: 39px;overflow: hidden;position: relative;z-index: 10;}
.app-content .app-content2 .app-p3 label, .app-content .app-content2 .app-p4 .app-label1, .app-content .app-content2 .app-p7 label{width: 199px;height:39px;display: inline-block;text-align: center;line-height:39px;float: left;}
.app-content .app-content2 .app-p3 .app-input{width: 793px;height: 39px;border: none;display: inline-block;line-height: 39px;float: left;overflow: hidden;padding-left: 5px;}
.app-content .app-content2 .app-p3{line-height: 39px;}
.app-content .app-content2 .app-p3 .app-input6-1{width: 200px;height: 39px;border: none;display: inline-block;line-height: 39px;float: left;overflow: hidden;padding-left: 5px;font-size: 18px;color: #333;}
.app-content .app-content2 .app-p3 .app-input6{width: 700px;height: 39px;border: none;display: inline-block;line-height: 39px;float: left;overflow: hidden;padding-left: 5px;font-size: 18px;color: #333;}
.app-content .app-content2 .app-p3 b{font-size: 14px;color: #f00;padding-left: 5px;}
.app-content .app-content2 .app-p3 span{font-size: 14px;color: #666;}
.app-content .app-content2 .app-p3 input.app-input6::-webkit-input-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p3 input.app-input6:-moz-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p3 input.app-input6::-moz-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p3 input.app-input6:-ms-input-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p4{height: 39px;overflow: hidden;}
.app-content .app-content2 .app-p4 .app-input1{width:395px;height: 39px;border: none;display: inline-block;line-height: 39px;float: left;padding-left: 5px;}
.app-content .app-content2 .app-p4 .app-label2{width: 100px;height: 39px;display: inline-block;text-align: center;line-height: 39px;float: left;}
.app-content .app-content2 .app-p4 .app-input2{width:291px;height: 39px;border: none;display: inline-block;line-height: 39px;float: left;padding-left: 5px;font-size: 18px;color: #333;}
.app-content .app-content2 .app-p5{height: 114px;overflow: hidden;border-bottom: 2px solid #797979;}
.app-content .app-content2 .app-p5 .app-label3{width: 199px;height: 114px;display: inline-block;text-align: center;float: left;line-height: 114px;}
.app-content .app-content2 .app-p5 .app-input3{width: 123px;float: left;height: 102px;padding-top: 12px;padding-left: 16px;}
.app-content .app-content2 .app-p5 .app-input4{width: 640px;height: 102px;float: left;padding-top: 12px;padding-left: 16px;}
.app-content .app-content2 .app-p3 .app-a1{display: inline-block;width: 20px;height: 20px;background: url(../images/application/upload.png) no-repeat center;position: absolute;z-index: 20;right: 9px;top: 11px;}
.app-content .app-content2 .app-p6, .app-content .app-content2 .app-p8{height: 79px;}
.app-content .app-content2 .app-p6 .app-label4, .app-content .app-content2 .app-p8 .app-p8-label{display: inline-block;width: 199px;height: 79px;float: left;text-align: center;line-height: 79px;}
.app-content .app-content2 .app-p6 .app-p6-1, .app-content .app-content2 .app-p6 .app-p6-2{width: 782px;height: 39px;float: left;line-height: 39px;padding-left: 16px;}
.app-content .app-content2 .app-p6 .app-p6-1 .app-input7, .app-content .app-content2 .app-p5 .app-input4 .app-input5{width: 200px;height: 23px;border: none;font-size: 14px;color: #333;line-height: 23px;padding-left: 5px;}
.app-content .app-content2 .app-p7{line-height: 39px;overflow: hidden;}
.app-content .app-content2 .app-p7 .app-p7-content{float: left;width: 782px;height: 39px;padding-left: 16px;}
.app-content .app-content2 .app-p8 .app-p8-content{width: 798px;height: 39px;float: left;line-height: 39px;}
.app-content .app-content2 .app-p8{border-bottom: 1px solid #797979;}
.app-content .app-content2 .app-p8 .app-p8-content input{width: 400px;height: 23px;border: none;font-size: 14px;color: #333;padding-left: 5px;}
.app-content .app-content2 .app-p8 .app-p8-content input::-webkit-input-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p8 .app-p8-content label{padding-left: 16px;}
.app-content .app-content2 .app-p8 .app-p8-content input:-moz-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p8 .app-p8-content input::-moz-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p8 .app-p8-content input:-ms-input-placeholder {color:#f00;font-size:14px;letter-spacing: 1px ;}
.app-content .app-content2 .app-p8 .app-p8-content-bottom{border-bottom: 1px solid #797979;}
.app-content .app-content2 .app-p9{height: 160px;overflow: hidden;}
.app-content .app-content2 .app-p9 .app-p9-label{width: 199px;height: 120px;float: left;display: inline-block;text-align: center;padding-top: 40px;}
.app-content .app-content2 .app-p9 .app-p9-content{width: 782px;height: 150px;float: left;padding-left: 16px;padding-top: 10px;}
.app-content .app-content2 .app-p9 .app-p9-content textarea{width: 90%;display: inline-block;font-size: 14px;color: #333;padding-left: 5px;}
.app-content .app-content2 .app-p10{height: 355px;overflow: hidden;}
.app-content .app-content2 .app-p10 .app-p10-label{width: 199px;height: 355px;display: inline-block;float: left;text-align: center;line-height: 340px;}
.app-content .app-content2 .app-p10 .app-p10-content1, .app-content .app-content2 .app-p11 .app-p11-content1{width: 798px;height: 39px;float: left;line-height: 39px;overflow: hidden;}
.app-content .app-content2 .app-p10 .app-p10-content1 label, .app-content .app-content2 .app-p11 .app-p11-content1 label{width: 99px;height: 39px;display: inline-block;float: left;text-align: center;}
.app-content .app-content2 .app-p10 .app-p10-content1 label.a10-b-left, .app-content .app-content2 .app-p11 .app-p11-content1 label.a10-b-left{border-left:1px solid #797979;}
.app-content .app-content2 .app-p10 .app-p10-content1 input, .app-content .app-content2 .app-p11 .app-p11-content1 input{width: 293px;height: 39px;display: inline-block;float: left;font-size: 18px;color: #333;padding-left: 5px;border: none;border-left: 1px solid #797979;}
.app-content .app-content2 .app-p10 .app-p10-content3{width: 798px;height: 79px;float: left;line-height: 39px;overflow: hidden;}
.app-content .app-content2 .app-p10 .app-p10-content3 > label{width: 99px;height: 79px;display: inline-block;float: left;text-align: center;line-height: 79px;}
.app-content .app-content2 .app-p10 .app-p10-content2{width: 798px;height: 39px;float: left;overflow: hidden;}
.app-content .app-content2 .app-p10 .app-p10-content2 label{display: inline-block;width: 99px;float: left;height: 39px;text-align: center;line-height: 39px;}
.app-content .app-content2 .app-p10 .app-p10-content2 input{width: 693px;height: 39px;float: left;display: inline-block;border: none;padding-left: 5px;font-size: 18px;color: #333;}
.app-content .app-content2 .app-p11{height: 158px;overflow: hidden;}
.app-content .app-content2 .app-p11 .app-p11-label{width: 199px;height: 158px;float: left;text-align:center;line-height: 158px;}
.app-content .app-content2 .app-p11 .app-p11-content1{float: left;width: 798px;height: 39px;line-height: 39px;}
/*暂存*/
.staging{width: 1200px;height: 36px;margin-left: auto;margin-right: auto;margin-bottom: 50px;}
.staging .staging-a1{display: inline-block;width: 140px;height: 36px;background-color: #cc0000;font-size: 20px;color: #fff;letter-spacing: 1px;text-align: center;line-height: 36px;float: left;margin-left: 530px;}
.staging .staging-a2{display: inline-block;width: 120px;height: 36px;background-color: #cc0000;font-size: 20px;color: #fff;letter-spacing: 1px;text-align: center;line-height: 36px;float: left;margin-left: 320px;}
/*说明*/
.instructions{width: 1200px;height: 130px;margin-left: auto;margin-right: auto;margin-bottom: 90px;}
.instructions p{font-size: 18px;color: #333;margin-bottom: 5px;}
.instructions ul{overflow: hidden;}
.instructions ul li{font-size: 14px;color: #333;margin-bottom: 4px;}