body{background-color: #fff;}
/*购物*/
.shop{width: 1200px;height: 460px;padding-top: 30px;margin-left: auto;margin-right: auto;overflow: hidden;}
.shop .shop-left{width: 500px;height: 100%;float: left;}
.shop .shop-left .sh-p1{height: 360px;margin-bottom: 8px;}
.shop .shop-right{width: 700px;height: 100%;float: left;}
.shop .shop-left .sh-p2{padding-left: 56px;height: 34px;line-height: 34px;}
.shop .shop-left .sh-p2 > span{font-size: 18px;color: #666;margin-right: 10px;}
.shop .shop-left .sh-p2 > i{font-size: 20px;color: #666;font-style: normal;}
.shop .shop-left .sh-p2 img{vertical-align: middle;display: inline-block;margin-right: 10px;}
.shop .shop-left .sh-p2 > a{font-size: 18px;color: #666;}
.shop .shop-right h2{font-size: 30px;color: #333;font-weight: normal;margin-bottom: 10px;}
.shop .shop-right .ri-div1{height: 60px;background-color: #eee;line-height: 60px;overflow: hidden;margin-bottom: 8px;}
.shop .shop-right .ri-div1 p{display: inline-block;float: left;}
.shop .shop-right .ri-div1 p span{font-size: 14px;color: #666;}
.shop .shop-right .ri-div1 p a{font-size: 26px;color: #f00;}
.shop .shop-right .ri-div1 p.ri-p1{margin-right: 110px;}
.shop .shop-right .ri-div1 p.ri-p1 span{padding-left: 17px;}
.shop .shop-right .ri-div2{font-size: 14px;overflow: hidden;}
.shop .shop-right .ri-div2 p.ri-p3{display: inline-block;float: left;width: 100px;height: 48px;padding-top: 12px;padding-left: 16px;}
.shop .shop-right .ri-div2 p.ri-p3 span{font-size: 14px;color: #666;}
.shop .shop-right .ri-div2 ul{width: 460px;height: 60px;float: left;overflow: hidden;}
.shop .shop-right .ri-div2 ul li{float: left;width: 94px;height: 18px;border: 1px solid #999;font-size: 14px;text-align: center;line-height: 18px;}
.shop .shop-right .ri-div2 ul li > a{font-size: 14px;color: #666;}
.shop-right1{margin-right:20px;}
.shop-right2{margin-right:24px;}
.shop-right3{margin-right:10px;}
.shop-bottom1{margin-bottom:10px;}
.shop-bottom2{margin-bottom:48px;}
.shop .shop-right .ri-div3{font-size: 14px;height: 30px;line-height: 30px;overflow: hidden;margin-bottom: 14px;}
.shop .shop-right .ri-div3 .ri-p4, .shop .shop-right .ri-div5 .ri-p6{display: inline-block;float: left;width: 100px;height: 30px;padding-left: 16px;}
.shop .shop-right .ri-div3 .ri-p4 span, .shop .shop-right .ri-div4 .ri-p5 span, .shop .shop-right .ri-div5 .ri-p6 span{font-size: 14px;color: #666;}
.shop .shop-right .ri-div3 > a{width: 120px;height: 28px;border: 1px solid #999;display: inline-block;text-align: center;line-height: 28px;color: #666;float: left;}
.shop .shop-right .ri-div4{font-size: 14px;height: 30px;line-height: 30px;overflow: hidden;}
.shop .shop-right .ri-div4 .ri-p5{display: inline-block;float: left;width: 100px;height: 30px;padding-left: 16px;}
.shop .shop-right .ri-div4 select{width: 100px;height: 20px;border: 1px solid #999;float: left;line-height: 20px;font-size: 14px;color: #333;}
.shop .shop-right .ri-div5{font-size: 14px;height: 30px;line-height: 30px;overflow: hidden;}
.shop .shop-right .ri-div5 b{display: inline-block;font-weight: normal;cursor: pointer;font-size: 16px;color: #333;}
.shop .shop-right .ri-div5 input{display: inline-block;width: 26px;height: 16px;border: 1px solid #333;font-size: 14px;color: #333;}
.shop .shop-right .ri-div6{font-size: 14px;height: 30px;overflow: hidden;border-bottom: 1px solid #eee;margin-bottom: 24px;}
.shop .shop-right .ri-div6 span{display: inline-block;font-size: 14px;color: #666;margin-left: 16px;margin-right: 10px;}
.shop .shop-right .ri-div6 a{font-size: 20px;color: #f00;}
.shop .shop-right .ri-div7{overflow: hidden;}
.shop .shop-right .ri-div7 a{float: left;}
.shop .shop-right .ri-div7 a.r7-a1{display: inline-block;width: 158px;height: 38px;border: 1px solid #f00;text-align: center;line-height: 38px;color: #f00;font-size: 22px;margin-left: 17px;margin-right: 63px;}
.shop .shop-right .ri-div7 a.r7-a1 > img{display: inline-block;vertical-align: middle;margin-right: 8px;}
.shop .shop-right .ri-div7 a.r7-a2{display: inline-block;width: 160px;height: 40px;background-color: #f00;color: #fff;text-align: center;line-height: 40px;font-size: 22px;}
/*推荐套餐*/
.recommended{width: 1200px;height: auto;margin-left: auto;margin-right: auto;overflow: hidden;margin-bottom: 50px;}
.recommended p{border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.recommended p span{display: inline-block;width: 180px;height: 40px;background-color: #ccc;font-size: 18px;color: #666;text-align: center;line-height: 40px;}
.recommended ul{overflow: hidden;float: left;}
.recommended ul li{float: left;width: 300px;height: 240px;border: 1px solid #999;}
.recommended ul li.active{border-color: #f00;}
.recommended .re-div{float: left;padding-top: 100px;padding-left: 50px;}
.recommended .re-div > a{display: inline-block;width: 158px;height: 38px;border: 1px solid #f00;text-align: center;line-height: 38px;color: #f00;font-size: 22px;}
.recommended .re-div > a > img{display: inline-block;vertical-align: middle;margin-right: 10px;}
/*服务详情*/
.detail{width: 1200px;height: auto;margin-left: auto;margin-right: auto;height: 36px;overflow: hidden;border-bottom: 1px solid #eee;margin-bottom: 40px;}
.detail li{float: left;width: 140px;height: 36px;background-color: #eee;font-size: 20px;text-align: center;line-height: 36px;color: #666;cursor: pointer;}
.detail li.oactive{background-color: #f00;color: #fff;}
/*推荐套餐内容*/
.reco{width: 1200px;height: auto;margin-left: auto;margin-right: auto;margin-bottom: 200px;}
.reco .recommend1, .reco .recommend2, .reco .recommend3, .reco .recommend4{margin-left: 40px;margin-right: 40px;}
.reco .recommend1 li, .reco .recommend2 li, .reco .recommend3 li, .reco .recommend4 li,{font-size: 14px;border-bottom: 1px solid #999;margin-bottom: 30px;}
.reco .recommend1 li h5, .reco .recommend2 li h5, .reco .recommend3 li h5, .reco .recommend4 li h5{font-weight: normal;color: #666;margin-bottom: 30px;}
.reco .recommend1 li p, .reco .recommend2 li p, .reco .recommend3 li p, .reco .recommend4 li p{color: #666;line-height: 1.5;margin-bottom: 25px;}
.reco .recommend2, .reco .recommend3, .reco .recommend4{display: none;}