/*通用设置*/
body,button,div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,table,td,tr,textarea,th,ul{margin: 0;padding: 0;}
body{font-family: "\5FAE\8F6F\96C5\9ED1";background-color: #f5f5f5;}
img{border: none;}
li{list-style: none;}
a{text-decoration: none;}
a:visited{background-color: #fff;}
/*头部*/
.header{width: 100%;height: 80px;background-color: #fff;-moz-box-shadow:0px 2px 5px #e0e0e0;-webkit-box-shadow:2px 2px 5px #e0e0e0;box-shadow:2px 2px 5px #e0e0e0;}
.header .header-content{width: 1200px;height: 100%;margin-left: auto;margin-right: auto;}
.header .header-content > a{display: inline-block;float: left;width: 260px;height: 80px;}
.header .header-content ul{float: left;margin-left: 44px;}
.header .header-content ul li{line-height: 80px;padding-left: 20px;padding-right: 22px;float: left;}
.header .header-content ul li > a{font-size: 16px;color: #666;display: inline-block;}
.header .header-content ul li.h-last-li{line-height: 78px;padding-top: 2px;font-size: 16px;color: #a1a1a1;}
.header .header-content ul li.h-last-li b{padding-left: 5px;padding-right: 5px;}
.header .header-content > img{float: left;display: inline-block;margin-left: 10px;}
.header .header-content ul li.head-li1, .header .header-content ul li.head-li2, .header .header-content ul li.head-li3, .header .header-content ul li.head-li4{position: relative;z-index: 100;}
.header .header-content ul li.head-li1 .head-div1, .header .header-content ul li.head-li2 .head-div2, .header .header-content ul li.head-li3 .head-div3, .header .header-content ul li.head-li4 .head-div4{position: absolute;z-index: 150;left: 0;top: 80px;background-color: #fff;width: 225px;padding-left: 15px;padding-bottom: 20px;-moz-box-shadow:0px 2px 4px #999;-webkit-box-shadow:0px 2px 4px #999;box-shadow:0px 2px 4px #999;border-top: 2px solid #999;display: none;}
.header .header-content ul li.head-li1 > .he-span1, .header .header-content ul li.head-li2 > .he-span2, .header .header-content ul li.head-li3 > .he-span3, .header .header-content ul li.head-li4 > .he-span4{display: inline-block;border-bottom: 5px solid #999;border-left: 5px solid transparent;border-right: 5px solid transparent;position: absolute;z-index: 220;left: 50%;margin-left: -5px;bottom: 0px;display: none;}
.header .header-content ul li.head-li1 .head-div1 > p, .header .header-content ul li.head-li2 .head-div2 > p, .header .header-content ul li.head-li3 .head-div3 > p, .header .header-content ul li.head-li4 .head-div4 > p{line-height: 30px;}
.header .header-content ul li.head-li1 .head-div1 > p > i, .header .header-content ul li.head-li2 .head-div2 > p > i, .header .header-content ul li.head-li3 .head-div3 > p > i, .header .header-content ul li.head-li4 .head-div4 > p > i{display: inline-block;width: 6px;height: 8px;background: url(../images/index/arrows1.png) no-repeat;vertical-align: middle;padding-right: 8px;}
.header .header-content ul li.head-li1 .head-div1 > p > a, .header .header-content ul li.head-li2 .head-div2 > p > a, .header .header-content ul li.head-li3 .head-div3 > p > a, .header .header-content ul li.head-li4 .head-div4 > p > a{font-size: 16px;color: #666;}
.header .header-content ul li.head-li1 .head-div1 > p:hover > a, .header .header-content ul li.head-li2 .head-div2 > p:hover > a, .header .header-content ul li.head-li3 .head-div3 > p:hover > a, .header .header-content ul li.head-li4 .head-div4 > p:hover > a{color: #cc0000;}
.header .header-content ul li.head-li1 .head-div1 > p:hover > i, .header .header-content ul li.head-li2 .head-div2 > p:hover > i, .header .header-content ul li.head-li3 .head-div3 > p:hover > i, .header .header-content ul li.head-li4 .head-div4 > p:hover > i{background: url(../images/index/arrows2.png) no-repeat;}
.header .header-content ul li.head-li1:hover:hover .head-div1,.header .header-content ul li.head-li1:hover > .he-span1{display: block;}
.header .header-content ul li.head-li2:hover:hover .head-div2,.header .header-content ul li.head-li2:hover > .he-span2{display: block;}
.header .header-content ul li.head-li3:hover:hover .head-div3,.header .header-content ul li.head-li3:hover > .he-span3{display: block;}
.header .header-content ul li.head-li4:hover:hover .head-div4,.header .header-content ul li.head-li4:hover > .he-span4{display: block;}
/*底部*/
.footer{width: 100%;height: 360px;background-color: #777;}
.f-content{width: 1200px;height: 262px;border-bottom: 1px solid #999;margin-left: auto;margin-right: auto;padding-top: 25px;padding-bottom: 12px;overflow: hidden;}
.f-content .fo-abstract{overflow: hidden;float: left;overflow: hidden;}
.f-content .fo-abstract > li{float: left;}
.f-content .fo-abstract > li.f-li1{width: 210px;height: 260px;border-left: 1px solid #999;border-right: 1px solid #999;}
.f-content .fo-abstract > li.f-li2{width: 206px;height: 260px;border-right: 1px solid #999;padding-left: 34px;}
.f-content .fo-abstract > li.f-li2 a, .f-content .fo-abstract li.f-li3 a{display: block;text-align: left;color: #fff;font-size: 16px;margin-bottom: 10px;}
.f-content .fo-abstract > li.f-li2 a.f-a1, .f-content .fo-abstract li.f-li3 a.f-a2{font-size: 20px;margin-bottom: 14px;}
.f-content .fo-abstract > li.f-li1 a{display: block;text-align: center;font-size: 18px;color: #fff;margin-bottom: 10px;}
.f-content .fo-abstract > li.f-li3{width: 178px;;height: 260px;border-right: 1px solid #999;padding-left: 18px;}
.f-content .fo-right{width: 530px;height: 260px;float: left;padding-left: 20px;}
.f-content .fo-right > ul{width: 100%;overflow: hidden;padding-top: 10px;border-bottom:1px solid #999; }
.f-content .fo-right >  ul > li{float: left;width: 100%;margin-bottom: 16px;font-size: 18px;color: #fff;}
.f-content .fo-right > ul > li .f-i1{display: inline-block;width: 25px;height: 18px;background: url(../images/index/f-logo.png) no-repeat -3px -1px;margin-left: 26px;vertical-align: middle;margin-right: 13px;}
.f-content .fo-right > ul > li .f-i2{display: inline-block;width: 25px;height: 23px;background: url(../images/index/f-logo.png) no-repeat -3px -39px;margin-left: 26px;vertical-align: middle;margin-right: 12px;}
.f-content .fo-right > ul > li .f-i3{display: inline-block;width: 25px;height: 23px;background: url(../images/index/f-logo.png) no-repeat -7px -82px;margin-left: 30px;vertical-align: middle;margin-right: 10px;}
.f-content .fo-right p.f-online > a .f-i4{display: inline-block;width: 21px;height: 21px;background: url(../images/index/f-logo.png) no-repeat -5px -110px;margin-left: 11px;vertical-align: middle;margin-right: 12px;}
.f-content .fo-right p.f-online{padding: 14px 0 14px 22px;border-bottom: 1px solid #999;}
.f-content .fo-right p.f-online > a{display: inline-block;width: 180px;height: 36px;background-color: #cc0000;line-height: 36px;font-size: 18px;color: #fff;}
.f-content .fo-right p.f-focus{padding:16px 0 16px 24px;font-size: 18px;color: #fff;}
.f-content .fo-right p.f-focus img{display: inline-block;vertical-align: middle;}
.f-content .fo-right p.f-focus img.f-weixin{padding-left: 24px;padding-right: 15px;}
.footer .footer-content{width: 1200px;line-height: 60px;text-align: center;margin-right: auto;margin-left: auto;letter-spacing: 2px;font-size: 14px;color: #fff;}
/*侧边栏*/
.side-bar{width: 80px;height: 244px;position: fixed;z-index: 50;background: url(../images/index/sider.png) no-repeat center;top: 280px;right: 14px;cursor: pointer;}
.side-bar li{width: 80px;height: 80px;float: left;border-radius: 4px;}
.side-bar li.s-li1 a.sa1, .side-bar li.s-li2 a.sa2, .side-bar li a.top{display: inline-block;width: 100%;height: 100%;}
.side-bottom{margin-bottom: 2px;}
.side-bottom1{margin-bottom: 20px;}
.side-bar li.s-li1 .s-phone{position: absolute;z-index: 60;width:158px;height: 65px;left: -158px;top: 1px;background: url(../images/index/sider1.png) no-repeat center;padding-top: 15px;text-align: center;display: none;}
.side-bar li.s-li1 .s-phone > p{font-size: 20px;color: #333;letter-spacing: 1px;margin-bottom: 10px;}
.side-bar li.s-li1 .s-phone > a{font-size: 16px;color: #333;}
.side-bar li.s-li1:hover .s-phone, .side-bar li.s-li2:hover .s-qq{display: block;}
.side-bar li.s-li1, .side-bar li.s-li2{position: relative;z-index: 55;}
.side-bar li.s-li2 .s-qq{position: absolute;z-index: 60;width:142px;height:85px;left: -158px;top:1px;background: url(../images/index/sider2.png) no-repeat center;padding-top: 15px;padding-left: 15px;display: none;}
.side-bar li.s-li2 .s-qq > a{display:block;width: 118px;height: 26px;border: 1px solid #ffcccc;text-align: center;line-height: 26px;font-size: 14px;color: #333;transition: 0.5s ease;}
.side-bar li.s-li2 .s-qq > a:hover{background-color: #c00;color: #fff;}
/* 客服 */
.ser{position:fixed;z-index: 200;left: 0;top:50%;margin-top: -30px;width: 120px;height: 60px;background: url(../images/index/service.png) no-repeat;}
.ser > a.ser-a{display: inline-block;width: 100%;height: 100%;}
.ser-content{width: 460px;height: 372px;background-color: #fff;position: fixed;z-index: 300;top: 50%;margin-left: -230px;margin-top: -190px;left: 50%;padding-top: 8px;display: none;}
.ser-content > h3 img.ser-remove{display: inline-block;margin-right: 15px;cursor: pointer;float: right;margin-top: 8px;}
.ser-content > h3{text-align: center;font-size: 24px;color: #666;font-weight: normal;overflow: hidden;letter-spacing: 5px;margin-bottom: 8px;}
.ser-content .ser-p2{font-size: 14px;color: #999;margin-left: 18px;}
.ser-bottom1{margin-bottom: 15px;}
.ser-bottom2{margin-bottom: 8px;}
.ser-content .ser-p3 input{display: inline-block;width: 373px;height:38px;border: 1px solid #ccc;font-size: 14px;color: #999;line-height: 38px;padding-left: 5px;margin-left: 40px;}
.ser-content .ser-p3 input::-webkit-input-placeholder, .ser-content .ser-p4 > textarea::-webkit-input-placeholder{color: #ccc;}  
.ser-content .ser-p3 input:-moz-placeholder, .ser-content .ser-p4 > textarea:-moz-placeholder{color: #ccc;}  
.ser-content .ser-p3 input::-moz-placeholder, .ser-content .ser-p4 > textarea::-moz-placeholder{color: #ccc;}  
.ser-content .ser-p3 input:-ms-input-placeholder, .ser-content .ser-p4 > textarea:-ms-input-placeholder{color: #ccc;}  
.ser-content .ser-p4{font-size: 14px;color: #71d377;margin-bottom: 20px;}
.ser-content .ser-p4 > textarea{display: inline-block;width: 375px;height: 95px;border: 1px solid #ccc;padding-top: 5px;padding-left: 5px;font-size: 14px;color: #999;margin-left: 40px;}
.ser-content .ser-sub{display: inline-block;width: 160px;height: 40px;background-color: #cc0000;color: #fff;font-size: 22px;text-align: center;line-height: 40px;border:none;margin-left: 146px;}
input{cursor: pointer;}
.modal{position: fixed;z-index: 250;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);display: none;}