body{background-color: #fff;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/document/banner1.jpg) no-repeat center;}
/*说明文档*/
.document{width: 1128px;margin-left: auto;margin-right: auto;height: auto;padding: 0 36px 0 30px;}
.document-process{width: 1200px;height: 220px;background: url(../images/document/process2.png) no-repeat center;margin-left: auto;margin-right: auto;}
h3{font-size: 28px;color: #ccc;font-weight: normal;text-align: center;letter-spacing: 3px;padding:10px 0 30px;border-bottom: 1px solid #959595;margin: 0 50px 38px;margin-left: auto;margin-right: auto;width: 1100px;}
.document ul{width: 1135px;height: auto;overflow: hidden;}
.document ul li{float: left;width: 1135px;margin-bottom: 20px;}
.document ul li h4{font-size: 18px;color: #333;letter-spacing: 2px;font-weight: normal;margin-bottom: 12px;}
.document ul li p{height: auto;width: 1091px;border: 1px solid #999;margin-left: 18px;margin-bottom: 10px;line-height: 24px;color: #333;font-size: 14px;letter-spacing: 1px;padding: 10px 12px 0;}
.document ul li p.do-height{height: 110px;}
.document ul li p span{display: inline-block;width: 4px;height: 4px;background-color: #333;border-radius: 2px;vertical-align: middle;margin-right: 8px;}
.document ul li p.upload{text-align: center;padding-top: 35px;padding-bottom: 35px;overflow: hidden;}
.document ul li p.upload a{font-size: 24px;color: #999;}
.document .add{height: 50px;width: 100%;text-align: center;line-height: 50px;}
.document .add a i{display: inline-block;vertical-align: middle;background: url(../images/document/add.png) no-repeat center;width: 30px;height: 30px;margin-right: 18px;}
.document .add a{font-size: 18px;color: #66ccff;}
.document .add-bottom{margin-bottom: 100px;}
.document .process_button{padding-left: 45px;height: 36px;margin-bottom: 370px;}
.document .process_button a{display: inline-block;float: left;font-size: 18px;letter-spacing: 1px;}
.document .process_button a.btn1{width: 178px;height: 34px;border: 1px solid #cc0000;color: #cc0000;line-height: 34px;margin-right: 174px;}
.document .process_button a.btn1 span{width: 20px;height: 21px;background: url(../images/document/shop.png) no-repeat center;display: inline-block;vertical-align: middle;margin-left: 6px;margin-right: 14px;}
.document .process_button a.btn2{width: 138px;height: 34px;border: 1px solid #cc0000;color: #cc0000;line-height: 34px;text-align: center;margin-right: 100px;}
.document .process_button a.btn3{height: 36px;line-height: 36px;background-color: #c00;color: #fff;text-align: center;padding-right: 38px;padding-left: 38px;}
.document .process_button a.btn3-right{margin-right: 170px;}