body{background-color: #fff;}
input{margin-top: -2px;margin-bottom: 1px;vertical-align: middle;cursor: pointer;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/evaluation/banner1.jpg) no-repeat center;}
/*新评估*/
.evaluation{width: 1000px;height: auto;margin-left: auto;margin-right: auto;padding-left: 100px;padding-right: 100px;}
.evaluation .e-img{width: 100%;height: 140px;background:url(../images/evaluation2/process.png) no-repeat center;border-bottom: 1px solid #cc0000;margin-bottom: 56px;}
.evaluation ul{height: auto;}
.evaluation ul li{padding-bottom: 40px;border-bottom: 1px solid #ccc;margin-bottom: 9px;font-size: 14px;color: #333;}
.evaluation ul li p{display: inline-block;padding-top: 5px;}
.ev-left{padding-left: 28px;}
.evaluation ul li p input.ev-input1{width: 235px;height: 22px;border: 1px solid #ccc;padding-left: 5px;font-size: 12px;line-height: 22px;color: #333;}
.evaluation ul li input.ev-input2{width: 57px;height: 22px;border: 1px solid #ccc;padding-left: 5px;font-size: 12px;line-height: 22px;color: #333;display: inline-block;margin-right: 5px;margin-bottom: 5px;}
/*滑块*/
#wrapper, #wrapper1, #wrapper2{position: relative;width:400px;height:20px;overflow: hidden;background:url(../images/evaluation2/icon-bg.jpg) no-repeat center;cursor: pointer;margin-left: 25px;}
#slider, #slider1, #slider2{position: absolute;left:0;width:14px;height:20px;display: inline-block;background: url(../images/evaluation2/icon.jpg) no-repeat center;cursor:pointer;}
#fill, #fill1, #fill2{display: inline-block;width:0;height:20px;background: #33ccff;z-index: 18;opacity: 0.7;filter: Alpha(opacity=7);-moz-opacity:0.7;}
.evaluation ul li input.ev-input3{width: 100px;height: 22px;border: 1px solid #ccc;padding-left: 5px;font-size: 12px;line-height: 22px;color: #333;display: inline-block;margin-right: 5px;margin-bottom: 5px;}
.evaluation ul li input.ev-input4, .evaluation ul li input.ev-input6, .evaluation ul li input.ev-input8{display: inline-block;width: 75px;height: 18px;border: 1px solid #ccc;font-size: 14px;color:#ccc;line-height: 18px;text-align: center;background-color: #fff;margin-right: 5px;margin-left: 5px;}
.evaluation ul li input.ev-input5, .evaluation ul li input.ev-input7, .evaluation ul li input.ev-input9{display: inline-block;width: 75px;height: 18px;border: 1px solid #ccc;font-size: 14px;color:#ccc;line-height: 18px;text-align: center;background-color: #fff;}
.evaluation ul li input.ev-input10{width: 100px;height: 20px;border: 1px solid #ccc;padding-left: 5px;font-size: 12px;line-height: 22px;color: #333;display: inline-block;margin-right: 5px;margin-left: 5px;}
.evaluation ul li div.ev-div1{padding-left: 28px;height: 22px;line-height: 25px;}
.evaluation ul li div.ev-div1 div.ev-div2{display: inline-block;margin-left: 48px;margin-right: 55px;}
.evaluation ul li b{display: inline-block;margin-right: 40px;}
.evaluation ul li div.ev-div3{display: inline-block;width: 224px;line-height: 30px;height: 25px;}
.evaluation ul li div.ev-div4{display: inline-block;width: 170px;line-height: 30px;height: 25px;}
.evaluation ul li.last-li{border-bottom:none;}
.evaluation .staging{padding-right: 100px;margin-bottom: 50px;overflow: hidden;}
.evaluation .staging a{float: right;}
.evaluation .staging a input{border: none;color: #fff;display: inline-block;width: 100px;height: 36px;font-size: 20px;background-color: #cc0000;line-height: 36px;text-align: center;}
/*填写信息*/
.fill{width: 1020px;height: 310px;margin-right: auto;margin-left: auto;overflow: hidden;margin-bottom: 30px;}
.fill .fill-left{width: 540px;height: 100%;float: left;}
.fill .fill-left .fill-p1{font-size: 18px;color: #00ccff;margin-bottom: 25px;}
.fill .fill-left .fill-p1 span{font-size: 14px;}
.fill .fill-left .fill-p2{margin-bottom: 20px;height: 24px;line-height: 24px;font-size: 14px;color: #333;}
.fill .fill-left .fill-p2 label{display: inline-block;width: 90px;}
.fill .fill-left .fill-p2 input{display: inline-block;width: 233px;height: 22px;border: 1px solid #ccc;color: #333;font-size: 14px;line-height: 22px;padding-left: 5px;}
.fill .fill-left .fill-p3{padding-top: 30px;}
.fill .fill-left .fill-p3 input{display:inline-block;width: 100px;height: 36px;color: #fff;background-color: #cc0000;text-align: center;font-size: 20px;border: none;}
.fill .fill-right{width: 480px;height: 100%;float: left;padding-top: 36px;}
.fill .fill-right .fill-right-p1{width: 450px;border: 1px solid #ccc;border-radius: 6px;font-size: 28px;color: #ccc;font-weight:bold;text-align:center;padding-top: 38px;padding-bottom: 38px;margin-bottom: 20px;}
.fill .fill-right .fill-right-p2{font-size: 12px;color: #a9a9a9;margin-bottom: 9px;}
.fill .fill-right a{display: inline-block;width: 180px;height: 36px;background:url(../images/evaluation/zixun.jpg) no-repeat center;}