body{background-color: #fff;}
input{margin-top: -2px;margin-bottom: 1px;vertical-align: middle;cursor: pointer;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/evaluation/banner1.jpg) no-repeat center;}
/*评估*/
.p-left{padding-left: 30px;}
.evaluation{width: 1200px;height: auto;margin-left: auto;margin-right: auto;}
.evaluation .e-img{width: 100%;height: 140px;background:url(../images/evaluation/process.png) no-repeat center;border-bottom: 1px solid #cc0000;}
.evaluation ul{width: 1000px;height: auto;padding:20px 100px 0;margin-bottom: 150px;}
.evaluation ul li{font-size: 14px;color: #666;padding-bottom: 50px;border-bottom:1px solid #ccc;margin-bottom: 10px;}
.evaluation ul li i{color: #333;font-style: normal;display: inline-block;margin-bottom: 10px;letter-spacing: 1px;}
.evaluation ul li.ev-li1 input{width: 163px;height: 22px;margin-left: 11px;display: inline-block;border: 1px solid #999;padding-left: 5px;font-size: 12px;color: #666;line-height: 22px;}
.evaluation ul li.ev-li2{padding-bottom: 40px;}
.evaluation ul li.ev-li2 p{display: inline-block;width: 220px;margin-bottom: 5px;}
.evaluation ul li.ev-li3 p{display: inline-block;width: 188px;}
.evaluation ul li.ev-li4 p{display: inline-block;width: 50px;}
.evaluation ul li.ev-li4 a, .evaluation ul li.ev-li5 a, .evaluation ul li.ev-li6 a, .evaluation ul li.ev-li7 a{display: inline-block;width: 20px;height: 20px;background:url(../images/evaluation/doubt.png) no-repeat center;vertical-align:middle;margin-left: 50px;}
.evaluation ul li.ev-li4, .evaluation ul li.ev-li5, .evaluation ul li.ev-li6, .evaluation ul li.ev-li7{position: relative;z-index: 10;}
.evaluation ul li.ev-li4 span, .evaluation ul li.ev-li5 span, .evaluation ul li.ev-li6 span, .evaluation ul li.ev-li7 span{width: 400px;line-height: 1.5;color: #808080;font-size: 12px;display: inline-block;position: absolute;z-index: 20;right: 20px;top: 6px;display: none;}
.evaluation ul li.ev-li4 p,.evaluation ul li.ev-li5 p, .evaluation ul li.ev-li6 p, .evaluation ul li.ev-li7 p, .evaluation ul li.ev-li8 p{display: inline-block;width: 90px;}
.evaluation ul li.ev-li6, .evaluation ul li.ev-li7{height: 80px;}
.evaluation ul li.ev-li9 p, .evaluation ul li.ev-li10 p{display: inline-block;}
.evaluation ul li.ev-li10 p{width: 270px;margin-bottom: 5px;}
.evaluation .staging{padding-right: 100px;margin-bottom: 50px;overflow: hidden;}
.evaluation .staging a{float: right;}
.evaluation .staging a input{border: none;color: #fff;display: inline-block;width: 100px;height: 36px;font-size: 20px;background-color: #cc0000;line-height: 36px;text-align: center;}
#ev-none{border-bottom: none;}
/*评估认定*/
.identified{width: 1110px;height: 520px;margin-right: auto;margin-left: auto;padding-left: 90px;overflow: hidden;}
.identified .ident-left{width: 580px;height: 100%;float: left;}
.identified .ident-left .id-p1{font-size: 18px;color: #333;margin-bottom: 30px;}
.identified .ident-left .id-p2{font-size: 18px;color: #333;margin-bottom: 100px;}
.identified .ident-left .id-p3{text-align: center;font-size: 28px;color: #333;margin-bottom: 155px;}
.identified .ident-left .id-p3 a, .identified .ident-left .id-p3 i{font-size:48px;color: #f00;font-style: normal;}
.identified .ident-left .id-p4{font-size: 12px;color: #666;margin-bottom: 18px;}
.identified .ident-left .id-p5 a{width: 160px;height: 36px;display: inline-block;line-height: 36px;color: #fff;background-color: #cc0000;font-size: 20px;text-align: center;letter-spacing: 1px;}
.ident-right{width: 530px;height: 100%;float: left;}
.ident-right .iden-p1{font-size: 18px;color: #333;}
.ident-right .iden-p2{font-size: 18px;color: #333;margin-bottom: 21px;}
.ident-right .iden-p2 a{font-size: 14px;color: #333;}
.ident-right .iden-p3{font-size: 12px;color: #666;margin-bottom: 19px;}
.ident-right .iden-p4 a{display: inline-block;width: 180px;height: 36px;background:url(../images/evaluation/zixun.jpg) no-repeat center;}
#mycanvas{text-align: center;}
/*雷达图*/
canvas{}