body{background-color: #fff;}
input{cursor: pointer;}
/*登录注册*/
/*登录*/
.login{width: 100%;height: 575px;background:url(../images/login/banner1.jpg) no-repeat center;padding-top: 65px;}
.login .lo{width: 1200px;height: auto;margin-left: auto;margin-right: auto;overflow: hidden;}
.login .lo .lo-content{width: 520px;height: 412px;background-color: #fff;float: right;margin-right: 30px;padding-left: 10px;padding-right: 10px;padding-top: 8px;}
.login .lo .lo-content .fo-p1{text-align: right;}
.login .lo .lo-content .fo-p1 > a{font-size: 14px;color: #00ccff;}
.login .lo .lo-content .fo-p2{text-align: center;font-size: 18px;color: #1a1a1c;margin-bottom: 50px;}
.login .lo .lo-content ul{padding-left: 60px;padding-right: 120px;width: 340px;}
.login .lo .lo-content ul li{width: 340px;overflow: hidden;height: 28px;line-height: 28px;}
.login .lo .lo-content ul li label{width: 70px;margin-right: 20px;display: inline-block;float: left;font-size: 16px;color: #333;text-align: right;}
.login .lo .lo-content ul li .fo-input1{display: inline-block;width: 243px;border: 1px solid #999;height: 26px;line-height: 26px;padding-left: 5px;float: left;}
.login .lo .lo-content ul li.lo-bottom1{margin-bottom: 19px;}
.login .lo .lo-content ul li.lo-bottom2{margin-bottom: 60px;}
.login .lo .lo-content ul li.lo-li1{margin-bottom: 5px;}
.login .lo .lo-content ul li.lo-li1 .fo-input2{width: 153px;height: 26px;line-height: 26px;border: 1px solid #999;float: left;padding-left: 5px;}
.login .lo .lo-content ul li.lo-li1 .lo-get{width: 80px;height: 28px;background-color: #33ccff;font-size: 14px;color: #fff;text-align: center;display: inline-block;line-height: 28px;margin-left: 10px;float: left;}
.login .lo .lo-content ul li.lo-li2{padding-left: 90px;font-size: 14px;margin-bottom: 20px;}
.login .lo .lo-content ul li.lo-li2 > a{color: #00ccff;}
.login .lo .lo-content ul li.lo-li3{width: 340px;height: auto;}
.login .lo .lo-content ul li.lo-li3 .sub{display: block;margin-left: 140px;width: 140px;height: 40px;color: #fff;font-size: 22px;background-color: #cc0000;text-align: center;line-height: 40px;}