/*展示图*/
.obanner{width: 100%;height: 400px;background:url(../images/identified/banner1.jpg) no-repeat center;}
.obanner2{width: 100%;height:168px;background:url(../images/identified/banner2.jpg) no-repeat center;}
/*高企认定条件*/
.conditions{width: 100%;height: 420px;background:url(../images/identified/banner3.jpg) no-repeat center;}
.conditions .con-content h3{text-align: center;font-size: 26px;color: #666;font-weight: normal;padding-top: 14px;}
.conditions .con-content{width: 1200px;height: 420px;margin-left: auto;margin-right: auto;position: relative;z-index: 20;}
.conditions .con-content .con1{position: absolute;z-index: 30;left: 0;top: 260px;width: 130px;height: 80px;}
.conditions .con-content .con1 .con1-1, .conditions .con-content .con2 .con1-2{width: 100%;height: 100%;position: relative;z-index: 30;}
.conditions .con-content .con1 .con1-1 p{width: 130px;height: 50px;position: absolute;z-index: 40;top: -55px;left: 0;font-size: 14px;color: #01449f;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con1 .con1-1 > a, .conditions .con-content .con2 .con1-2 > a, .conditions .con-content .con3 .con1-3 > a, .conditions .con-content .con4 .con1-4 > a, .conditions .con-content .con5 .con1-5 > a, .conditions .con-content .con6 .con1-6 > a, .conditions .con-content .con7 .con1-7 > a, .conditions .con-content .con8 .con1-8 > a{font-size: 18px;color: #999;}
.conditions .con-content .con1 .con1-1:hover > a, .conditions .con-content .con2 .con1-2:hover > a, .conditions .con-content .con3 .con1-3:hover > a, .conditions .con-content .con4 .con1-4:hover > a, .conditions .con-content .con5 .con1-5:hover > a, .conditions .con-content .con6 .con1-6:hover > a, .conditions .con-content .con7 .con1-7:hover > a, .conditions .con-content .con8 .con1-8:hover > a{color: #01449f;}
.conditions .con-content .con1 .con1-1:hover p, .conditions .con-content .con2 .con1-2:hover p, .conditions .con-content .con3 .con1-3:hover p, .conditions .con-content .con4 .con1-4:hover p, .conditions .con-content .con5 .con1-5:hover p, .conditions .con-content .con6 .con1-6:hover p, .conditions .con-content .con7 .con1-7:hover p, .conditions .con-content .con8 .con1-8:hover p{display: block;}
.conditions .con-content .con2{position: absolute;z-index: 30;left: 160px;top: 160px;width: 140px;height: 28px;}
.conditions .con-content .con2 .con1-2 p{width: 160px;height: 90px;position: absolute;z-index: 40;top: -95px;left: 0;font-size: 14px;color: #01449f;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con3{position: absolute;z-index: 30;left: 300px;top: 255px;width: 140px;height: 28px;}
.conditions .con-content .con3 .con1-3 p{width: 143px;height: 100px;position: absolute;z-index: 40;top: -105px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con4{position: absolute;z-index: 30;left: 452px;top: 135px;width: 140px;height: 28px;}
.conditions .con-content .con4 .con1-4 p{width: 200px;height: 65px;position: absolute;z-index: 40;top: -75px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con5{position: absolute;z-index: 30;left: 584px;top: 253px;width: 140px;height: 28px;}
.conditions .con-content .con5 .con1-5 p{width: 160px;height: 85px;position: absolute;z-index: 40;top: -90px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con6{position: absolute;z-index: 30;left: 755px;top: 174px;width: 140px;height: 28px;}
.conditions .con-content .con6 .con1-6 p{width: 185px;height: 70px;position: absolute;z-index: 40;top: -80px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con7{position: absolute;z-index: 30;left: 883px;top: 266px;width: 140px;height: 28px;}
.conditions .con-content .con7 .con1-7 p{width: 157px;height: 90px;position: absolute;z-index: 40;top: -100px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
.conditions .con-content .con8{position: absolute;z-index: 30;left: 1044px;top: 158px;width: 150px;height: 28px;}
.conditions .con-content .con8 .con1-8 p{width: 177px;height: 70px;position: absolute;z-index: 40;top: -80px;left: 0;font-size: 14px;color: #01449f;;line-height: 1.5;display: none;border-bottom: 1px solid #33ccff;}
/*认定代理*/
.agent1{background:url(../images/identified/banner4.jpg) no-repeat center top;}
.agent2{background:url(../images/identified/banner5.jpg) no-repeat center top;}
.agent3{background:url(../images/identified/banner6.jpg) no-repeat center top;}
.agent{width: 100%;height: 440px;}
.agent .ag-content{width: 1200px;height: auto;margin-left: auto;margin-right: auto;}
.agent .ag-content h3{font-size: 30px;color: #fff;font-weight: normal;text-align: center;height: 100px;line-height: 100px;}
.ag-right{margin-right: 30px;}
.agent .ag-content ul li{float: left;width: 380px;background-color: #fff;height: 280px;border-radius: 4px;position: relative;z-index: 20;transition: 0.5s ease;-webkit-border-radius: 4px;-moz-border-radius: 4px;cursor: pointer;}
.agent .ag-content ul li h4{padding-left: 20px;padding:18px 0 8px;font-size: 24px;font-weight: normal;color: #666;border-bottom: 1px solid #f00;margin-left: 20px;margin-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 10px;}
.agent .ag-content ul li p{height: 16px;line-height: 16px;margin:0 20px 9px;font-size: 16px;color: #666;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.agent .ag-content ul li p i{display: inline-block;width: 12px;height: 2px;background-color: #cc0000;vertical-align: middle;margin-right: 8px;}
.agent .ag-content ul li .ag-div{position: absolute;z-index: 30px;bottom: 10px;right: 10px;text-align: right;height: 40px;line-height: 40px;}
.agent .ag-content ul li .ag-div > a.ag-a1{display: inline-block;font-size: 26px;color: #cc0000;margin-right: 8px;}
.agent .ag-content ul li .ag-div > a.ag-a2{display: inline-block;font-size: 26px;background-color: #cc0000;width: 140px;height: 40px;color: #fff;text-align: center;line-height: 40px;}
.agent .ag-content ul li:hover{transform: translateY(-5px); -webkit-box-shadow: 0px 0px 15px #999;-moz-box-shadow: 0px 0px 15px #999;box-shadow: 0px 0px 15px #999;}