/*通用设置*/
body,button,div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,table,td,tr,textarea,th,ul{margin: 0;padding: 0;}
body{font-family: "\5FAE\8F6F\96C5\9ED1";background-color: #f5f5f5;}
img{border: none;}
li{list-style: none;}
a{text-decoration: none;}
/*头部*/
.header{width: 100%;height: 80px;background-color: #fff;}
.header .header-content{width: 1200px;height: 100%;margin-left: auto;margin-right: auto;}
.header .header-content > a{display: inline-block;float: left;width: 260px;height: 80px;}
.header .header-content ul{float: left;margin-left: 44px;}
.header .header-content ul li{line-height: 80px;padding-left: 20px;padding-right: 22px;float: left;}
.header .header-content ul li > a{font-size: 16px;color: #666;display: inline-block;}
.header .header-content ul li.h-last-li{line-height: 78px;padding-top: 2px;font-size: 16px;color: #a1a1a1;}
.header .header-content ul li.h-last-li b{padding-left: 5px;padding-right: 5px;}
.header .header-content > img{float: left;display: inline-block;margin-left: 10px;}
.header .header-content ul li.head-li1, .header .header-content ul li.head-li2, .header .header-content ul li.head-li3, .header .header-content ul li.head-li4{position: relative;z-index: 100;}
.header .header-content ul li.head-li1 .head-div1, .header .header-content ul li.head-li2 .head-div2, .header .header-content ul li.head-li3 .head-div3, .header .header-content ul li.head-li4 .head-div4{position: absolute;z-index: 150;left: 0;top: 80px;background-color: #fff;width: 225px;padding-left: 15px;padding-bottom: 20px;-moz-box-shadow:0px 2px 4px #999;-webkit-box-shadow:0px 2px 4px #999;box-shadow:0px 2px 4px #999;border-top: 2px solid #999;display: none;}
.header .header-content ul li.head-li1 > .he-span1, .header .header-content ul li.head-li2 > .he-span2, .header .header-content ul li.head-li3 > .he-span3, .header .header-content ul li.head-li4 > .he-span4{display: inline-block;border-bottom: 5px solid #999;border-left: 5px solid transparent;border-right: 5px solid transparent;position: absolute;z-index: 220;left: 50%;margin-left: -5px;bottom: 0px;display: none;}
.header .header-content ul li.head-li1 .head-div1 > p, .header .header-content ul li.head-li2 .head-div2 > p, .header .header-content ul li.head-li3 .head-div3 > p, .header .header-content ul li.head-li4 .head-div4 > p{line-height: 30px;}
.header .header-content ul li.head-li1 .head-div1 > p > i, .header .header-content ul li.head-li2 .head-div2 > p > i, .header .header-content ul li.head-li3 .head-div3 > p > i, .header .header-content ul li.head-li4 .head-div4 > p > i{display: inline-block;width: 6px;height: 8px;background: url(../images/index/arrows1.png) no-repeat;vertical-align: middle;padding-right: 8px;}
.header .header-content ul li.head-li1 .head-div1 > p > a, .header .header-content ul li.head-li2 .head-div2 > p > a, .header .header-content ul li.head-li3 .head-div3 > p > a, .header .header-content ul li.head-li4 .head-div4 > p > a{font-size: 16px;color: #666;}
.header .header-content ul li.head-li1 .head-div1 > p:hover > a, .header .header-content ul li.head-li2 .head-div2 > p:hover > a, .header .header-content ul li.head-li3 .head-div3 > p:hover > a, .header .header-content ul li.head-li4 .head-div4 > p:hover > a{color: #cc0000;}
.header .header-content ul li.head-li1 .head-div1 > p:hover > i, .header .header-content ul li.head-li2 .head-div2 > p:hover > i, .header .header-content ul li.head-li3 .head-div3 > p:hover > i, .header .header-content ul li.head-li4 .head-div4 > p:hover > i{background: url(../images/index/arrows2.png) no-repeat;}
.header .header-content ul li.head-li1:hover:hover .head-div1,.header .header-content ul li.head-li1:hover > .he-span1{display: block;}
.header .header-content ul li.head-li2:hover:hover .head-div2,.header .header-content ul li.head-li2:hover > .he-span2{display: block;}
.header .header-content ul li.head-li3:hover:hover .head-div3,.header .header-content ul li.head-li3:hover > .he-span3{display: block;}
.header .header-content ul li.head-li4:hover:hover .head-div4,.header .header-content ul li.head-li4:hover > .he-span4{display: block;}
/*轮播*/
/*.banner{width: 100%;height: 520px;background: url(../images/index/banner-header1.jpg) no-repeat center;}
*/
/*轮播*/
.mySlides {display:none;margin: 0 auto;width: 100%;height: 520px;}
.slideshow-container {position: relative;margin: auto;z-index: 10;}
.banner{position: relative;z-index: 20;}
.banner-dot{position: absolute;z-index: 25;bottom: 100px;left: 50%;margin-left: -75px;width: 150px;height: 13px;text-align: center;}
.dot {cursor:pointer;height: 4px;width: 30px;margin: 0 2px;background-color: #fff;display: inline-block;transition: background-color 0.6s ease;}
.active, .dot:hover {background-color: #717171;}
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
.banner{width: 100%;height: 500px;background: url(../images/index/banner-header1.jpg) no-repeat center;margin-bottom: 27px;}
/*热门推荐*/
.hot{width: 1200px;height: 350px;margin-left: auto;margin-right: auto;margin-top: -100px;background-color: #fff;box-shadow: 0 0 5px #d2d2d2;overflow: hidden;margin-bottom: 48px;position: relative;z-index: 50;}
.hot p{font-size: 26px;line-height: 34px;color: #333;padding-top: 25px;margin-bottom: 18px;text-align: center;}
.hot ul{width: 100%;overflow: hidden;border-top: 1px solid #f5f5f5;}
.hot ul li{width: 299px;height: 239px;float: left;}
.hot ul li.h-border-right{border-right: 1px solid #f5f5f5;}
.hot ul li.h-last-li{width: 300px;}
.hot ul li > a{display:block;width: 100%;height: 100%;position: relative;z-index: 20;}
.hot ul li.hot_li1 > a span.hot_img1{display: block;width:86px;height: 67px;position:absolute;z-index:25;left: 50%;margin-left: -43px;top: 22px;transition: 0.5s ease;background-image: url(../images/index/hot-1.png);}
.hot ul li.hot_li1 > a:hover span.hot_img1{background-image: url(../images/index/hot-2.png);}
.hot ul li > a .hot_text{padding-left: 96px;padding-top: 118px;font-size: 16px;color: #333;}
.hot ul li > a:hover .hot_text b{color: #cc0000;}
.hot ul li > a:hover .hot_text i{background-color: #cc0000;}
.hot ul li > a .hot_text b{font-weight: normal;font-size: 24px;color: #333;transition: 1s ease;}
.hot ul li > a .hot_text i{display: inline-block;width: 22px;height: 2px;background-color: #333;margin-bottom: 5px;transition: 1s ease;}
.hot ul li.hot_li2 > a span.hot_img2{display: block;width:64px;height: 74px;background-image: url(../images/index/hot-3.png);position: absolute;z-index:25;left: 50%;margin-left: -50px;top: 22px;transition: 1s ease;}
.hot ul li.hot_li2 > a:hover span.hot_img2{background-image: url(../images/index/hot-4.png);}
.hot ul li.hot_li3 > a span.hot_img3{display: block;width:82px;height: 83px;background-image: url(../images/index/hot-5.png);position:absolute;z-index:25;left: 50%;margin-left: -41px;top: 18px;transition: 1s ease;}
.hot ul li.hot_li3 > a:hover span.hot_img3{background-image: url(../images/index/hot-6.png);}
.hot ul li.hot_li4 > a span.hot_img4{display: block;width:66px;height: 62px;background-image: url(../images/index/hot-7.png);position:absolute;z-index:25;left: 50%;margin-left: -33px;top: 28px;transition: 1s ease;}
.hot ul li.hot_li4 > a:hover span.hot_img4{background-image: url(../images/index/hot-8.png);}
/*在线查询*/
.online{width: 100%;height: 340px;background: url(../images/index/search-bg.jpg);margin-bottom: 45px;}
.online-search form > a{display: inline-block;position: absolute;z-index: 30;left: 0;top:50px;width: 96px;height: 39px;border-top: 1px solid #ccc;background-color: #fff;font-size: 18px;color: #333;padding-top: 10px;padding-left: 14px;display: none;}
.online .online-content{width: 1200px;height: 260px;margin-left: auto;margin-right: auto;padding-top: 80px;overflow: hidden;}
.online .online-content h3{font-size: 36px;color: #fff;font-weight: normal;text-align: center;margin-bottom: 40px;letter-spacing: 5px;}
.online .online-content .online-search{float: left;width: 780px;height: 50px;background-color: #fff;margin-left: 146px;margin-bottom: 20px;}
.online-search form{width: 100%;height: 100%;display: block;position: relative;z-index: 20;}
.online-search form label{display: block;float: left;width: 101px;height: 30px;line-height: 30px;padding-left: 10px;border-right: 1px solid #999;margin-top: 10px;margin-bottom: 10px;}
.online-search form label a{font-size: 18px;color: #333;width: 100%;height: 100%;display: inline-block;}
.online-search form label a img{padding-left: 5px;padding-right: 6px;}
.online-search form input{width: 650px;height: 50px;border: none;float: left;padding-left: 18px;color: #999;font-size: 24px;line-height: 50px;}
.online-search form input::-webkit-input-placeholder{color: #ccc;font-size: 24px;line-height: 50px;}
.online .online-content > a{display: block;float: left;width: 120px;height: 50px;background-color: #f00;font-size: 24px;color: #fff;line-height: 50px;margin-left: 20px;}
.online .online-content > a > img{display: inline-block;margin-left: 10px;margin-right: 12px;vertical-align: middle;}
.online .online-content p{clear: left;margin-left: 146px;font-size: 14px;color: #fff;}
.online .online-content p > a{color: #fff;padding-left: 8px;padding-right: 15px;}
/*精选服务*/
.select{width: 1200px;margin-left: auto;margin-right: auto;height: 565px;}
.select h3, .cooperation h3{font-size: 26px;color: #333;font-weight: normal;text-align: center;margin-bottom: 20px;}
.join h3, .introduction h3{font-size: 26px;color: #666;font-weight: normal;text-align: center;margin-bottom: 20px;}
.select ul, .t-content ul, .tax ul, .i-content ul{width: 100%;}
.select ul li, .t-content ul li, .tax ul li, .i-content ul li{float: left;background-color: #fff;width: 266px;height: 196px;padding: 12px;}
.select ul li.select-li1, .tax ul li.tax-li1, .i-content ul li.i-content-li1{height: 357px;text-align: center;font-size: 26px;color: #333;padding-top: 84px;}
.select-right{margin-right: 13px;}
.select-bottom{margin-bottom: 13px;}
.select ul li.select-li1 span, .tax ul li.tax-li1 span, .i-content ul li.i-content-li1 span{display: block;margin-bottom: 90px;}
.select ul li.select-li1 i, .i-content ul li.i-content-li1 i{width: 90px;height: 90px;display: inline-block;background: url(../images/index/select-bg.png) no-repeat -5px -7px;}
.select ul li p, .t-content ul li p, .tax ul li p, .i-content ul li p{width: 100%;}
.select ul li p span, .t-content ul li p span, .tax ul li p span, .i-content ul li p span{font-size: 22px;color: #666;text-align: left;display: inline-block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.select ul li p.s-p b, .t-content ul li p.s-p b, .tax ul li p.s-p b, .i-content ul li p.s-p b{font-size: 18px;color: #cc0000;display: inline-block;position: absolute;z-index: 10;bottom: 5px;left: 0;}
.select ul li p.s-p img, .t-content ul li p.s-p img, .tax ul li p.s-p img, .i-content ul li p.s-p img{display:inline-block;position: absolute;z-index: 10;right: 0;top: 0;}
.select ul li p.s-p, .t-content ul li p.s-p, .tax ul li p.s-p, .i-content ul li p.s-p{position: relative;z-index: 5;height: 120px;}
.select ul li p > a, .t-content ul li p > a, .tax ul li p > a, .i-content ul li p > a{display: inline-block;float: left;font-size: 20px;text-align: center;}
.select ul li p > a.s-buy, .t-content ul li p > a.s-buy, .tax ul li p > a.s-buy, .i-content ul li p > a.s-buy{width:120px;height: 30px;line-height: 30px;background-color: #cc0000;color: #fff;margin-right: 10px;}
.select ul li p > a.s-consult, .t-content ul li p > a.s-consult, .tax ul li p > a.s-consult, .i-content ul li p > a.s-consult{width: 118px;height: 28px;border: 1px solid #cc0000;color: #cc0000;line-height: 28px;}
/*高新技术*/
.technology{width: 100%;height: 240px;background-color: #fff;padding-top: 20px;}
.t-content{width: 1200px;margin-left: auto;margin-right: auto;}
.t-content ul li{background-color: #f5f5f5;}
.t-content ul li.t-content-li1{text-align: center;font-size: 26px;color: #333;height: 196px;}
.t-content ul li.t-content-li1 i{width: 90px;height: 90px;display: inline-block;background: url(../images/index/select-bg.png) no-repeat -103px -8px;}
.t-content ul li.t-content-li1 span{display: block;margin-bottom: 38px;}
/*税收优惠政策*/
.tax{width: 1200px;margin-left: auto;margin-right: auto;height: 475px;padding-top: 20px;}
.tax ul li.tax-li1 i{width: 90px;height: 90px;display: inline-block;background: url(../images/index/select-bg.png) no-repeat -202px -9px;}
.tax ul li.tax-li2{width: 570px;}
#se-hover{transition: 1s ease;}
#se-hover:hover{box-shadow: 0px 0px 15px #999;transform: translateY(-5px);-webkit-box-shadow: 0px 0px 15px #999;-moz-box-shadow: 0px 0px 15px #999;}
/*知识产权*/
.intellectual{width: 100%;height: 475px;background-color: #fff;padding-top: 20px;}
.i-content{width: 1200px;margin-left: auto;margin-right: auto;}
.i-content ul li.i-content-li2{width: 570px;}
.i-content ul li.i-bg{background-color: #f5f5f5;}
.i-content ul li.i-content-li1 i{width: 90px;height: 90px;display: inline-block;background: url(../images/index/select-bg.png) no-repeat -299px -10px;}
/*政策咨询*/
.advice{width: 100%;height: 490px;background: url(../images/index/advice-bg.jpg) no-repeat center;padding-top: 30px;}
.advice .a-content{width: 1200px;height: 490px;margin-left: auto;margin-right: auto;}
.a-content h3{font-size: 26px;color: #fff;font-weight: normal;text-align: center;margin-bottom: 20px;}
.a-content .a-policies, .a-content .a-applications{width: 590px;height: 357px;background-color: #fff;float: left;}
.a-right{margin-right: 20px;}
.a-content .a-policies > p, .a-content .a-applications > p{width: 534px;height: 58px;background-color: #666;overflow: hidden;padding: 32px 28px 0 28px;}
.a-content .a-policies > p span, .a-content .a-applications > p span{font-size: 26px;color: #fff;letter-spacing: 5px;display: inline-block;}
.a-content .a-policies > p a, .a-content .a-applications > p a{float: right;display: inline-block;font-size: 12px;color: #fff;padding: 4px 10px;border: 1px solid #fff;border-radius: 12px;margin-top: 3px;}
.a-content .a-policies ul{overflow: hidden;}
.a-content .a-policies ul li{float: left;width: 530px;height: 79px;padding: 30px 30px 20px;overflow: hidden;}
.a-bottom{border-bottom: 1px solid #f5f5f5;}
.a-content .a-policies ul li h4{font-weight: normal;font-size: 18px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.a-content .a-policies ul li h4 > a, .a-content .a-policies ul li > p > a{color: #333;}
.a-content .a-policies ul li > p{font-size: 14px;line-height: 2;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.a-content .a-applications ul{overflow: hidden;}
.a-content .a-applications ul li{float: left;width: 540px;height: 51px;line-height: 51px;padding-left: 25px;padding-right: 25px;}
.a-content .a-applications ul li > a{font-size: 16px;color: #333;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;display: inline-block;width: 100%;}
/*专家入库加盟*/
.join{width: 1200px;height: 439px;margin-left: auto;margin-right: auto;padding-top: 35px;}
.join .j-content{width: 100%;height: 300px;background-color: #fff;}
.join .j-content .j-content-left{padding: 36px 20px 0;width: 560px;height: 264px;overflow: hidden;float: left;}
.join .j-content .j-content-left a img{display: inline-block;float: left;}
.join .j-content .j-content-left p{float: left;width: 358px;margin-left: 16px;font-size: 16px;color: #666;line-height: 25px;padding-top: 5px;letter-spacing: 1px;}
.join .j-content .j-content-right{width: 509px;height: 260px;float: left;padding: 0 60px 0 30px;border-left: 1px solid #cccccc;margin-top: 20px;margin-bottom: 20px;}
.join .j-content .j-content-right p{height: 34px;margin-bottom: 24px;line-height: 34px;}
.join .j-content .j-content-right p label{margin-right: 16px;font-size: 18px;color: #666;}
.join .j-content .j-content-right p input{width: 405px;height: 30px;border: 1px solid #ccc;padding-left: 5px;font-size: 14px;color: #666;}
.join .j-content .j-content-right p .j-submit{float: right;width: 140px;height: 34px;background-color: #cc0000;color: #fff;font-size: 20px;text-align: center;line-height: 34px;border:none;}
/*平台简介*/
.introduction{width: 100%;height: 480px;background-color: #fff;}
.in-content{width: 1200px;margin-left: auto;margin-right: auto;padding-top: 35px;height: 445px;}
.in-content .in-content-more{width: 100%;overflow: hidden;}
.in-content .in-content-more img{float: left;display: inline-block;width: 600px;height: 312px;}
.in-content .in-content-more p{float: left;padding-left: 16px;padding-right: 16px;color: #666;font-size: 18px;line-height: 34px;width: 568px;}
.in-content .in-content-more p > a{display: inline-block;float: right;width: 140px;height: 34px;color: #fff;font-size: 18px;line-height: 34px;text-align: center;background-color: #cc0000;}
/*合作客户*/
.cooperation{width: 1200px;height: 405px;margin-left: auto;margin-right: auto;padding-top: 20px;}
.cooperation ul{width: 100%;overflow: hidden;}
.cooperation ul li{float: left;width: 239px;height: 110px;}
.co-right{border-right: 1px solid #ccc;}
.co-bottom{border-bottom: 1px solid #ccc;}
/*底部*/
.footer{width: 100%;height: 360px;background-color: #777;}
.f-content{width: 1200px;height: 262px;border-bottom: 1px solid #999;margin-left: auto;margin-right: auto;padding-top: 25px;padding-bottom: 12px;overflow: hidden;}
.f-content .fo-abstract{overflow: hidden;float: left;overflow: hidden;}
.f-content .fo-abstract > li{float: left;}
.f-content .fo-abstract > li.f-li1{width: 210px;height: 260px;border-left: 1px solid #999;border-right: 1px solid #999;}
.f-content .fo-abstract > li.f-li2{width: 206px;height: 260px;border-right: 1px solid #999;padding-left: 34px;}
.f-content .fo-abstract > li.f-li2 a, .f-content .fo-abstract li.f-li3 a{display: block;text-align: left;color: #fff;font-size: 16px;margin-bottom: 10px;}
.f-content .fo-abstract > li.f-li2 a.f-a1, .f-content .fo-abstract li.f-li3 a.f-a2{font-size: 20px;margin-bottom: 14px;}
.f-content .fo-abstract > li.f-li1 a{display: block;text-align: center;font-size: 18px;color: #fff;margin-bottom: 10px;}
.f-content .fo-abstract > li.f-li3{width: 178px;;height: 260px;border-right: 1px solid #999;padding-left: 18px;}
.f-content .fo-right{width: 530px;height: 260px;float: left;padding-left: 20px;}
.f-content .fo-right > ul{width: 100%;overflow: hidden;padding-top: 10px;border-bottom:1px solid #999; }
.f-content .fo-right >  ul > li{float: left;width: 100%;margin-bottom: 16px;font-size: 18px;color: #fff;}
.f-content .fo-right > ul > li .f-i1{display: inline-block;width: 25px;height: 18px;background: url(../images/index/f-logo.png) no-repeat -3px -1px;margin-left: 26px;vertical-align: middle;margin-right: 13px;}
.f-content .fo-right > ul > li .f-i2{display: inline-block;width: 25px;height: 23px;background: url(../images/index/f-logo.png) no-repeat -3px -39px;margin-left: 26px;vertical-align: middle;margin-right: 12px;}
.f-content .fo-right > ul > li .f-i3{display: inline-block;width: 25px;height: 23px;background: url(../images/index/f-logo.png) no-repeat -7px -82px;margin-left: 30px;vertical-align: middle;margin-right: 10px;}
.f-content .fo-right p.f-online > a .f-i4{display: inline-block;width: 21px;height: 21px;background: url(../images/index/f-logo.png) no-repeat -5px -110px;margin-left: 11px;vertical-align: middle;margin-right: 12px;}
.f-content .fo-right p.f-online{padding: 14px 0 14px 22px;border-bottom: 1px solid #999;}
.f-content .fo-right p.f-online > a{display: inline-block;width: 180px;height: 36px;background-color: #cc0000;line-height: 36px;font-size: 18px;color: #fff;}
.f-content .fo-right p.f-focus{padding:16px 0 16px 24px;font-size: 18px;color: #fff;}
.f-content .fo-right p.f-focus img{display: inline-block;vertical-align: middle;}
.f-content .fo-right p.f-focus img.f-weixin{padding-left: 24px;padding-right: 15px;}
.footer .footer-content{width: 1200px;line-height: 60px;text-align: center;margin-right: auto;margin-left: auto;letter-spacing: 2px;font-size: 14px;color: #fff;}
/*侧边栏*/
.side-bar{width: 80px;height: 244px;position: fixed;z-index: 50;background: url(../images/index/sider.png) no-repeat center;top: 280px;right: 14px;cursor: pointer;}
.side-bar li{width: 80px;height: 80px;float: left;border-radius: 4px;}
.side-bar li.s-li1 a.sa1, .side-bar li.s-li2 a.sa2, .side-bar li a.top{display: inline-block;width: 100%;height: 100%;}
.side-bottom{margin-bottom: 2px;}
.side-bottom1{margin-bottom: 20px;}
.side-bar li.s-li1 .s-phone{position: absolute;z-index: 60;width:158px;height: 65px;left: -158px;top: 1px;background: url(../images/index/sider1.png) no-repeat center;padding-top: 15px;text-align: center;display: none;}
.side-bar li.s-li1 .s-phone > p{font-size: 20px;color: #333;letter-spacing: 1px;margin-bottom: 10px;}
.side-bar li.s-li1 .s-phone > a{font-size: 16px;color: #333;}
.side-bar li.s-li1:hover .s-phone, .side-bar li.s-li2:hover .s-qq{display: block;}
.side-bar li.s-li1, .side-bar li.s-li2{position: relative;z-index: 55;}
.side-bar li.s-li2 .s-qq{position: absolute;z-index: 60;width:142px;height:85px;left: -158px;top:1px;background: url(../images/index/sider2.png) no-repeat center;padding-top: 15px;padding-left: 15px;display: none;}
.side-bar li.s-li2 .s-qq > a{display:block;width: 118px;height: 26px;border: 1px solid #ffcccc;text-align: center;line-height: 26px;font-size: 14px;color: #333;transition: 0.5s ease;}
.side-bar li.s-li2 .s-qq > a:hover{background-color: #c00;color: #fff;}
/* 客服 */
.ser{position:fixed;z-index: 200;left: 0;bottom:0;width: 260px;height: 210px;background: url(../images/index/service.png) no-repeat;}
.ser > a.ser-a{display: inline-block;width: 100%;height: 100%;}
.ser-content{width: 460px;height: 372px;background-color: #fff;position: fixed;z-index: 300;top: 50%;margin-left: -230px;margin-top: -190px;left: 50%;padding-top: 8px;display: none;}
.ser-content > h3 img.ser-remove{display: inline-block;margin-right: 15px;cursor: pointer;float: right;margin-top: 8px;}
.ser-content > h3{text-align: center;font-size: 24px;color: #666;font-weight: normal;overflow: hidden;letter-spacing: 5px;margin-bottom: 8px;}
.ser-content .ser-p2{font-size: 14px;color: #999;margin-left: 18px;}
.ser-bottom1{margin-bottom: 15px;}
.ser-bottom2{margin-bottom: 8px;}
.ser-content .ser-p3 input{display: inline-block;width: 373px;height:38px;border: 1px solid #ccc;font-size: 14px;color: #999;line-height: 38px;padding-left: 5px;margin-left: 40px;}
.ser-content .ser-p3 input::-webkit-input-placeholder, .ser-content .ser-p4 > textarea::-webkit-input-placeholder{color: #ccc;}  
.ser-content .ser-p3 input:-moz-placeholder, .ser-content .ser-p4 > textarea:-moz-placeholder{color: #ccc;}  
.ser-content .ser-p3 input::-moz-placeholder, .ser-content .ser-p4 > textarea::-moz-placeholder{color: #ccc;}  
.ser-content .ser-p3 input:-ms-input-placeholder, .ser-content .ser-p4 > textarea:-ms-input-placeholder{color: #ccc;}  
.ser-content .ser-p4{font-size: 14px;color: #71d377;margin-bottom: 20px;}
.ser-content .ser-p4 > textarea{display: inline-block;width: 375px;height: 95px;border: 1px solid #ccc;padding-top: 5px;padding-left: 5px;font-size: 14px;color: #999;margin-left: 40px;}
.ser-content .ser-sub{display: inline-block;width: 160px;height: 40px;background-color: #cc0000;color: #fff;font-size: 22px;text-align: center;line-height: 40px;border:none;margin-left: 146px;}
input{cursor: pointer;}
.modal{position: fixed;z-index: 250;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);display: none;}