body{background-color: #fff;}
/*宣传图*/
.banner{width: 100%;height: 400px;background:url(../images/introduction/banner1.jpg) no-repeat center;}
/*平台简介*/
.introduction{width: 100%;height: 460px;background-color: #fff;}
.in-content{width: 1200px;margin-left: auto;margin-right: auto;padding-top: 35px;height: 445px;}
.in-content .in-content-more{width: 100%;overflow: hidden;}
.in-content h3{font-size: 28px;color: #666;text-align: center;font-weight: normal;margin-bottom: 30px;}
.in-content .in-content-more img{float: left;display: inline-block;width: 600px;height: 312px;}
.in-content .in-content-more p{float: left;padding-left: 16px;padding-right: 16px;color: #666;font-size: 18px;line-height: 34px;width: 568px;}
.in-content .in-content-more p > a{display: inline-block;float: right;width: 140px;height: 34px;color: #fff;font-size: 18px;line-height: 34px;text-align: center;background-color: #cc0000;}
/*专业团队*/
.professional{width: 100%;height: 520px;background-color: #f5f5f5;}
.professional .pr-content{width: 1200px;height: 505px;margin-left: auto;margin-right: auto;padding-top: 15px;}
.professional .pr-content h3, .team h3{font-size: 26px;color: #666;text-align: center;font-weight: normal;margin-bottom: 20px;}
.professional .pr-content p, .team p{font-size: 18px;color: #666;text-align: center;line-height: 32px;}
.professional .pr-content ul{overflow: hidden;padding-left: 10px;padding-top: 20px;}
.professional .pr-content ul li{float: left;width: 220px;text-align: center;height: 288px;}
.professional .pr-content ul li > a{display: inline-block;width: 100%;height: 100%;font-size: 18px;color: #333;}
.professional .pr-content ul li.pr-right{margin-right: 20px;}
/*团队*/
.team{width: 1200px;height: 540px;margin-left: auto;margin-right: auto;padding-top: 30px;}