/*展示图*/
.obanner{width: 100%;height: 400px;background:url(../images/knowledge/banner1.jpg) no-repeat center;}
/*步骤*/
.steps{width: 1200px;height: 430px;margin-right: auto;margin-left: auto;}
.steps .steps1{overflow: hidden;background:url(../images/knowledge/steps1.png) no-repeat center;width: 1200px;height: 130px;}
.steps .steps1 li{float: left;line-height: 130px;font-size: 18px;color: #fff;}
.st-left1{margin-left: 91px;}
.st-right1{margin-right:135px;}
.st-right2{margin-right:125px;}
.st-right3{margin-right:145px;}
/*软件著作权代理*/
.steps .steps2{margin-left: 50px;margin-right: 50px;}
.steps .steps2 li.ag-right{margin-right: 100px;}
.steps .steps2 li{float: left;width: 500px;background-color: #fff;height: 280px;border-radius: 4px;position: relative;z-index: 20;transition: 0.5s ease;-webkit-border-radius: 4px;-moz-border-radius: 4px;cursor: pointer;}
.steps .steps2 li h4{padding-left: 20px;padding:18px 0 8px;font-size: 24px;font-weight: normal;color: #000;border-bottom: 1px solid #f00;margin-left: 20px;margin-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 10px;}
.steps .steps2 li p{height: 16px;line-height: 16px;margin:0 20px 9px;font-size: 16px;color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.steps .steps2 li .ag-div{position: absolute;z-index: 30px;bottom: 20px;right: 20px;text-align: right;height: 40px;line-height: 40px;}
.steps .steps2 li .ag-div > a.ag-a1{display: inline-block;font-size: 26px;color: #cc0000;margin-right: 12px;}
.steps .steps2 li .ag-div > a.ag-a2{display: inline-block;font-size: 26px;background-color: #cc0000;width: 140px;height: 40px;color: #fff;text-align: center;line-height: 40px;}
.steps .steps2 li:hover{transform: translateY(-5px); -webkit-box-shadow: 0px 0px 15px #999;-moz-box-shadow: 0px 0px 15px #999;box-shadow: 0px 0px 15px #999;}
/*专利流程*/
.agent1{background:url(../images/knowledge/banner2.jpg) no-repeat center top;}
.agent2{background:url(../images/knowledge/banner3.jpg) no-repeat center top;}
.agent3{background:url(../images/knowledge/banner4.jpg) no-repeat center top;}
.agent{width: 100%;height: 440px;}
.agent .ag-content{width: 1200px;height: auto;margin-left: auto;margin-right: auto;overflow: hidden;}
.agent .ag-content h3{font-size: 30px;color: #fff;font-weight: normal;text-align: left;height: 100px;line-height: 100px;letter-spacing: 6px;}
.ag-right{margin-right: 30px;}
.agent .ag-content .ag-right{float: left;width: 500px;background-color: #fff;height: 280px;border-radius: 4px;position: relative;z-index: 20;transition: 0.5s ease;-webkit-border-radius: 4px;-moz-border-radius: 4px;cursor: pointer;}
.agent .ag-content .ag-right h4{padding-left: 20px;padding:18px 0 8px;font-size: 24px;font-weight: normal;color: #000;border-bottom: 1px solid #f00;margin-left: 20px;margin-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 10px;}
.agent .ag-content .ag-right p{height: 16px;line-height: 16px;margin:0 20px 9px;font-size: 16px;color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.agent .ag-content .ag-right p i{display: inline-block;width: 12px;height: 2px;background-color: #cc0000;vertical-align: middle;margin-right: 8px;}
.agent .ag-content .ag-right .ag-div{position: absolute;z-index: 30px;bottom: 10px;right: 10px;text-align: right;height: 40px;line-height: 40px;}
.agent .ag-content .ag-right .ag-div > a.ag-a1{display: inline-block;font-size: 26px;color: #cc0000;margin-right: 8px;}
.agent .ag-content .ag-right .ag-div > a.ag-a2{display: inline-block;font-size: 26px;background-color: #cc0000;width: 140px;height: 40px;color: #fff;text-align: center;line-height: 40px;}
.agent .ag-content .ag-right:hover{transform: translateY(-5px); -webkit-box-shadow: 0px 0px 15px #999;-moz-box-shadow: 0px 0px 15px #999;box-shadow: 0px 0px 15px #999;}
.agent .ag-content .pro{width: 600px;height: 250px;float: left;margin-right: 30px;}
.agent .ag-content .pro .process{width: 600px;height: 50px;padding-left: 20px;}
.agent .ag-content .pro .process img{display: inline-block;float: left;cursor: pointer;transition: 0.5s ease;}
.agent .ag-content .pro .process span{display: inline-block;vertical-align: middle;width: 6px;height: 10px;float: left;background:url(../images/knowledge/arrow1.png) no-repeat;margin-top: 20px;margin-left: 2px;margin-right: 2px;}
.agent .ag-content .pro p{text-align: right;margin-bottom: 5px;}
.agent .ag-content .pro p.pr-p{width: 458px;}
.agent .ag-content .pro p b{display: inline-block;width: 10px;height: 6px;background:url(../images/knowledge/arrow3.png) no-repeat;}
.agent .ag-content .pro .process i{display: inline-block;vertical-align: middle;width: 6px;height: 10px;float: left;background:url(../images/knowledge/arrow2.png) no-repeat;margin-top: 20px;margin-left: 2px;margin-right: 2px;}
.agent .ag-content .pro div.p-left{margin-left: 150px;}
.agent .ag-content .pro .process img:hover{transform: translateY(-5px);-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 0px #000;}