body{background-color: #fff;}
/*支付界面*/
.payment{width: 1200px;height: auto;margin-left: auto;margin-right: auto;}
.payment .chart{width: 1200px;height: 100px;background:url(../images/pay1/process1.png) no-repeat center;}
.payment .address{width: 1200px;height: 295px;}
.payment .address h3, .payment .make h3, .payment .confirm h3{letter-spacing: 2px;height: 44px;line-height: 44px;background-color: #eeeeee;font-weight: normal;color: #666;font-size: 18px;padding-left: 18px;margin-bottom: 10px;}
.payment .address ul{width: 1200px;overflow: hidden;height: auto;margin-bottom: 20px;}
.payment .address ul li{float: left;width: 280px;height: 143px;border: 2px solid #ccc;padding-top: 15px;padding-left: 8px;position: relative;z-index: 5;}
.pay-right{margin-right: 10px;}
.payment .address ul li.active{border-color:#f00;}
.payment .address ul li p{overflow: hidden;font-size: 14px;margin-bottom: 6px;}
.payment .address ul li p span{display: inline-block;float: left;width: 60px;color: #666;}
.payment .address ul li p > a{display: inline-block;float: left;width: 160px;color: #666;}
.payment .address ul li > a.change{position: absolute;z-index: 10;right: 10px;bottom: 10px;font-size: 14px;color: #a1a1a1;}
.payment .address > p.manage{text-align: right;font-size: 20px;color: #666;padding-right: 14px;}
/*开票信息*/
.payment .make{width: 1200px;height: 300px;overflow: hidden;}
.payment .make .ma-div1.active{border-color:#f00;}
.payment .make .ma-div1{width: 300px;height: 158px;float: left;border: 1px solid #ccc;padding-top: 8px;padding-left: 10px;}
.payment .make .ma-div1 > p{margin-bottom: 5px;font-size: 14px;overflow: hidden;}
.payment .make .ma-div1 > p > span{display: inline-block;width: 82px;float: left;color: #666;}
.payment .make .ma-div1 > p > i{display: inline-block;float: left;font-size: 14px;color: #666;font-style: normal;}
.payment .make .ma-div1 > p > a{display: inline-block;width: 190px;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #666;}
.ma-right1{margin-right: 17px;}
.ma-right2{margin-right: 130px;}
.ma-bottom1{margin-bottom: 28px;}
.ma-bottom2{margin-bottom: 3px;}
.payment .make .ma-div2{width: 270px;height: 220px;float: left;overflow: hidden;}
.payment .make .ma-div2 p{height: 20px;line-height: 20px;overflow: hidden;font-size: 14px;}
.payment .make .ma-div2 p > label{display: inline-block;float: left;width: 85px;color: #666;}
.payment .make .ma-div2 p > input{display: inline-block;float: left;width: 168px;height: 18px;border: 1px solid #ccc;color: #666;}
.payment .make .ma-div2 .add{float: right;width: 100px;height: 32px;background-color: #cc0000;text-align: center;line-height: 32px;color: #fff;margin-right: 16px;}
/*确认订单*/
.payment .confirm{width: 1200px;height: 240px;margin-bottom: 35px;}
.co-bg1{background-color: #f9f9f9;}
.payment .confirm .or-div2{width: 290px;float: left;overflow: hidden;height: 160px;margin-right: 10px;}
.payment .confirm .or-div2 > p, .payment .confirm .or-div3 > p, .payment .confirm .or-div4 > p, .payment .confirm .or-div5 > p, .payment .confirm .or-div5 > p, .payment .confirm .or-div6 > p, .payment .confirm .or-div7 > p, .payment .confirm .or-div8 > p, .payment .confirm .or-div9 > p{height: 36px;line-height:36px;font-size: 18px;color: #666;text-align: center;border-bottom: 2px solid #00ccff;background-color: #fff;}
.payment .confirm .or-div2 img{display: inline-block;width: 121px;height: 102px;float: left;margin-left: 10px;}
.payment .confirm .or-div2 > a.or2-a{display: inline-block;float: left;padding-top: 7px;padding-left: 16px;font-size: 14px;color: #666;width: 130px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.or-bottom1{margin-bottom: 5px;}
.or-bottom2{margin-bottom: 18px;}
.or-bottom3{margin-bottom: 45px;}
.or-bottom4{margin-bottom: 30px;}
.or-bottom5{margin-bottom: 40px;}
.payment .confirm .or-div3{width: 140px;float: left;overflow: hidden;height: 160px;margin-right: 10px;}
.payment .confirm .or-div3 .or3-con{padding-left: 5px;font-size: 14px;color: #666;margin-bottom: 10px;}
.payment .confirm .or-div3 .or3-con > a{color: #666;}
.payment .confirm .or-div4{width: 90px;float: left;overflow: hidden;height: 160px;margin-right: 10px;text-align: center;}
.payment .confirm .or-div4 .sh4-con{text-align: center;}
.payment .confirm .or-div4 .sh4-con span{display: inline-block;font-size: 14px;color: #666;vertical-align: middle;cursor: pointer;}
.payment .confirm .or-div4 .sh4-con .sh4-a{display: inline-block;width: 26px;height: 16px;border: 1px solid #666;line-height: 16px;text-align: center;font-size: 10px;color: #333;margin-left: 10px;margin-right: 10px;}.payment .confirm .or-div5{width: 140px;float: left;overflow: hidden;height: 160px;margin-right: 10px;text-align: center;}
.payment .confirm .or-div5 > a{font-size: 14px;color: #666;}
.payment .confirm .or-div8{width: 210px;float: left;overflow: hidden;height: 160px;text-align: center;margin-right: 10px;}
.payment .confirm .or-div8 > a{font-size: 14px;color: #666;display: inline-block;padding-top: 7px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 160px;}
.payment .confirm .or-div9 > a{font-size: 14px;color: #666;display: inline-block;padding-top: 7px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 80px;}
.payment .confirm .or-div9{width: 120px;float: left;overflow: hidden;height: 160px;text-align: center;margin-right: 10px;}
.payment .confirm .or-div6{width: 300px;float: left;overflow: hidden;height: 160px;}
.payment .confirm .or-div6 .or3-con{padding-left: 80px;font-size: 14px;color: #666;margin-bottom: 10px;}
.payment .confirm .or-div6 .or3-con > a{color: #666;}
/*留言*/
.payment .message{height: 32px;line-height: 32px;padding-left: 24px;margin-bottom: 20px;}
.payment .message label{display: inline-block;font-size: 14px;color: #747474;margin-right: 15px;}
.payment .message input{display: inline-block;width: 273px;height: 30px;border: 1px solid #ccc;font-size: 14px;color: #747474;padding-left: 5px;}
/*合计*/
.payment .combined{text-align: right;font-size: 14px;color: #666;margin-bottom: 8px;border-bottom: 1px solid #f9f9f9;padding-bottom: 8px;}
.payment .combined > a{display: inline-block;margin-right: 55px;color: #f00;}
.payment .combined > span{margin-right: 10px;}
/*合算*/
.payment .ec-content{height: 125px;width: 1200px;margin-bottom: 10px;}
.payment .ec-content .economical{background-color: #f9f9f9;padding: 16px 16px 16px 95px;text-align: right;font-size: 14px;float: right;}
.payment .ec-content .economical p{margin-bottom: 8px;}
.payment .ec-content .economical p span{color: #333;}
.payment .ec-content .economical p a.ec-a1{font-size: 24px;font-weight: bold;color: #f00;}
.payment .ec-content .economical p i{display: inline-block;width: 10px;}
.payment .ec-content .economical p a{color: #333;}
/*提交*/
.payment .sub-content{width: 1200px;height: 40px;margin-bottom: 600px;}
.payment .sub-content > a.sub{display: inline-block;width: 140px;height: 40px;text-align: center;line-height: 40px;background-color: #cc0000;color: #fff;font-size: 22px;float: right;}