body{background-color: #fff;}
/*流程图*/
.process{width: 1200px;height: 100px;margin-left: auto;margin-right: auto;background: url(../images/pay2/process2.png) no-repeat;}
/*支付*/
.pay{width: 1200px;height: auto;margin-left: auto;margin-right: auto;}
.pay .pay-content1{width: 100%;overflow: hidden;font-size: 14px;color: #666;margin-bottom: 4px;}
.pay .pay-content1 .p-c1-left{float: left;display: inline-block;}
.pay .pay-content1 .p-c1-left .p-a1{color: #f00;}
.pay .pay-content1 .p-c1-right > a{color: #666;}
.pay .pay-content1 .p-c1-right{float: right;display: inline-block;}
.pay .way{width: 100%;overflow: hidden;padding-bottom: 170px;margin-bottom: 88px;border-bottom:1px solid #eee;}
.pay .way h3{height: 44px;background-color: #eee;line-height: 44px;color:#666;font-size: 18px;font-weight: normal;padding-left: 18px;letter-spacing: 2px;}
.pa-bottom1{margin-bottom: 40px;}
.pa-bottom2{margin-bottom: 28px;}
.pa-bottom3{margin-bottom: 8px;}
.pa-bottom4{margin-bottom: 20px;}
.pay .way ul{width: 100%;overflow: hidden;margin-bottom: 33px;}
.pay .way ul li{float: left;width: 100px;height: 100px;text-align: center;}
.pay .way ul li > a{display: inline-block;width: 100%;height: 100%;}
.pay .way ul li > a .way-icon1{display: inline-block;width: 75px;height: 75px;background: url(../images/pay2/icon1.png) no-repeat;}
.pay .way ul li > a .way-icon2{display: inline-block;width: 75px;height: 75px;background: url(../images/pay2/icon2.png) no-repeat;}
.pay .way ul li > a .way-icon3{display: inline-block;width: 75px;height: 75px;background: url(../images/pay2/icon3.png) no-repeat;}
.pay .way ul li > a .way-icon4{display: inline-block;width: 75px;height: 75px;background: url(../images/pay2/icon4.png) no-repeat;}
.pay .way ul li > a > span{font-size: 14px;color: #666;}
.pay .way ul li.wa-right{margin-right: 35px;}
/*线下支付*/
.pay .way .way-content1{display: block;}
.pay .way .way-content1 .way-left{width: 580px;height: auto;float: left;padding-left: 20px;}
.pay .way .way-content1 .way-left .way-left-p1{font-size: 14px;color: #f00;margin-bottom: 28px;}
.pay .way .way-content1 .way-left .way-left-p2{font-size: 16px;color: #666;}
.pay .way .way-content1 .way-left .way-left-p2 > a{color: #666;}
.pay .way .way-content1 .way-left .way-left-p3{font-size: 14px;color: #666;margin-bottom: 10px;}
.pay .way .way-content1 .way-left .way-left-p3 > a{font-size: 22px;color: #666;}
.pay .way .way-content1 .way-left .way-left-p3 img{display: inline-block;vertical-align: middle;margin-left: 10px;margin-right: 10px;}
.pay .way .way-content1 .way-uploads{float: left;}
.pay .way .way-content1 .way-uploads > a{width: 100%;height: 100%;display: inline-block;}
.pay .way .way-content1 .way-uploads > a > span{color: #66ccff;font-size: 14px;}
/*支付宝支付*/
.pay .way .way-content2{overflow: hidden;display: none;}
.pay .way .way-content2 .alipay{width: 125px;height: 170px;float: left;text-align: center;margin-left: 70px;}
.pay .way .way-content2 .alipay > img{display: inline-block;margin-bottom: 5px;}
.pay .way .way-content2 .alipay > span{font-size: 14px;color: #666;display: inline-block;}
/*微信支付*/
.pay .way .way-content3{display: none;}
/*银联支付*/
.pay .way .way-content4{display: none;}
.pay .pay-sure{padding-left: 360px;margin-bottom: 170px;}
.pay .pay-sure .sure1{display: inline-block;width: 138px;height: 38px;border: 1px solid #f00;text-align: center;line-height: 38px;color: #f00;font-size: 22px;margin-right: 200px;}
.pay .pay-sure .sure2{display: inline-block;width: 140px;height: 40px;text-align: center;line-height: 38px;color: #fff;font-size: 22px;margin-right: 200px;background-color: #f00;}