body{background-color: #fff;}
/*流程图*/
.process{width: 1200px;height: 100px;margin-left: auto;margin-right: auto;background: url(../images/pay3/process.png) no-repeat;}
/*支付成功*/
.success{width: 1100px;margin-left: auto;margin-right: auto;border: 1px solid #ccc;padding-top: 30px;padding-bottom: 10px;margin-bottom: 700px;}
.success p{padding-left: 430px;padding-right: 430px;overflow: hidden;color: #999;margin-bottom: 56px;}
.success p img{display: inline-block;float: left;margin-right: 18px;}
.success p .su-span1{display: inline-block;float: left;font-size: 24px;}
.success p .su-span2{display: inline-block;float: left;font-size: 14px;}
.success > a{width: 140px;height: 40px;background-color: #cc0000;color: #fff;line-height: 40px;text-align: center;display: block;margin-left: auto;margin-right: auto;font-size: 20px;}