body{background-color: #fff;}
input{cursor: pointer;}
/*用户中心*/
.user{width: 1200px;height: auto;margin-left: auto;margin-right: auto;overflow: hidden;padding-top: 30px;}
.user .user-left{float: left;width: 160px;height: 350px;margin-right: 20px;}
.user .user-left li{width: 100%;height: 40px;text-align: center;line-height: 40px;}
.user .user-left li.us-bottom{margin-bottom: 4px;}
.user .user-left li > a{width: 100%;height: 100%;display: inline-block;color: #666;font-size: 18px;color: #666;background-color: #eee;transition: 0.5s ease;}
.user .user-left li > a.active{background-color: #cc0001;color: #fff;}
.user .user-left li > a:hover{background-color: #cc0001;color: #fff;}
/*详细板块*/
.user .user-right{float: left;width: 1020px;height: auto;margin-bottom: 50px;}
/*帮助板块*/
.user .user-right .help{width: 1020px;height: auto;display: none;margin-bottom: 600px;}
.user .user-right .help .help-div1{margin-bottom: 30px;}
.user .user-right .help .help-div1 > p.qu, .user .user-right .help .help-div2 > p{margin-bottom: 10px;font-size: 20px;color: #666;}
.user .user-right .help .help-div1 > p.qu > img, .user .user-right .help .help-div2 > p > img{display: inline-block;vertical-align: middle;margin-right: 10px;}
.user .user-right .help .help-div1 > a, .user .user-right .help .help-div2 > a{display: inline-block;width: 158px;height: 34px;border: 1px solid #ccc;font-size: 20px;color: #666;line-height: 34px;text-align: center;margin-left: 34px;}
.user .user-right .help .help-div2 ul{width: 100%;}
.user .user-right .help .help-div2 ul li{border-bottom: 1px solid #ccc;padding-left: 40px;margin-bottom: 20px;}
.user .user-right .help .help-div2 ul li .he-p1 > a{font-size: 14px;color: #333;}
.user .user-right .help .help-div2 ul li .he-p2 > a{font-size: 14px;color: #666;}
.user .user-right .help .help-div2 ul li > p{margin-bottom: 20px;}
/*评论板块*/
.user .user-right .comments{width: 1020px;height: auto;display: none;margin-bottom: 550px;}
.user .user-right .comments li{border: 1px solid #ccc;padding: 10px 50px 22px 40px;font-size: 14px;margin-bottom: 10px;}
.user .user-right .comments li .co-p1{color: #333;margin-bottom: 24px;}
.user .user-right .comments li .co-p1 span.co-right1{margin-right: 300px;}
.user .user-right .comments li .co-p1 span.co-right2{margin-right: 497px;}
.user .user-right .comments li .co-p2{overflow: hidden;margin-bottom: 20px;}
.user .user-right .comments li .co-p2 > a{float: left;display: inline-block;}
.user .user-right .comments li .co-p2 > a.co-a1{color: #00ccff;margin-right: 266px;}
.user .user-right .comments li .co-p2 > a.co-a2{width: 480px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 50px;color: #999;}
.user .user-right .comments li .co-p2 > a.co-a3, .user .user-right .comments li .co-p3 > a{color: #00ccff;}
/*服务动态*/
.user .user-right .service{width: 1020px;height: auto;display: none;margin-bottom: 250px;}
.user .user-right .service .se-p1{font-size: 18px;color: #333;margin-bottom: 15px;}
.user .user-right .service .se-p1 span{font-size: 14px;color: #999;letter-spacing: 2px;}
.user .user-right .service .se-p1 span > a{font-size: 14px;color: #999;}
.user .user-right .service ul{width: 1020px;}
.user .user-right .service ul li{border:1px solid #ccc;height: auto;padding: 10px 0px 10px 8px;margin-bottom: 20px;overflow: hidden;}
.user .user-right .service ul li .se-p2{font-size: 14px;margin-bottom: 7px;}
.user .user-right .service ul li .se-p2 > a{color: #333;}
.user .user-right .service ul li .se-div1{width: 121px;height: 102px;float: left;margin-right: 14px;}
.user .user-right .service ul li .se-div2{float: left;}
.user .user-right .service ul li .se-div2 .se-p3{font-size: 14px;margin-bottom: 14px;}
.user .user-right .service ul li .se-div2 .se-p3 > a{color: #999;}
.user .user-right .service ul li .se-div2 .se-p4 > a{color: #333;font-size: 14px;}
/*安全中心*/
.user .user-right .security{width: 1020px;height: auto;display: none;margin-bottom: 650px;}
.user .user-right .security > .se-p1{font-size: 18px;color: #333;margin-bottom: 38px;}
.user .user-right .security ul{width: 1020px;}
.user .user-right .security ul li{border-bottom: 1px solid #ccc;margin-bottom: 22px;padding-bottom: 12px;overflow: hidden;line-height: 22px;}
.user .user-right .security ul li .se-img1{display: inline-block;vertical-align: middle;margin-right: 5px;float: left;padding-top: 3px;}
.user .user-right .security ul li span{display: inline-block;font-size: 14px;color: #333;margin-right: 50px;float: left;}
.user .user-right .security ul li .se-div1{display: inline-block;width: 324px;height: 8px;border: 1px solid #ccc;overflow: hidden;margin-right: 30px;float: left;margin-top: 6px;}
.user .user-right .security ul li .se-div1 > a.se-a1{display: inline-block;width: 118px;height:8px;background-color: #f90202;float: left;}
.user .user-right .security ul li > a.se-a2{display: inline-block;font-size: 14px;color: #333;margin-right: 38px;float: left;}
.user .user-right .security ul li > a.se-a3{display: inline-block;font-size: 12px;color: #666;width: 380px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;}
.user .user-right .security ul li > a.se-a4{display: inline-block;font-size: 14px;color: #333;float: left;width: 600px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 180px;}
.user .user-right .security ul li > a.se-a5{display: inline-block;font-size: 14px;color: #333;float: left;}
/*企业认证*/
.user .user-right .enterprise{width:1020px;height: auto;display: none;}
.user .user-right .enterprise .en-process{height:80px;padding-bottom: 30px;border-bottom: 1px solid #ccc;}
.user .user-right .enterprise h4{font-weight: normal;font-size: 24px;color: #d3d3d3;text-align: center;padding-top: 30px;padding-bottom: 30px;border-bottom: 1px solid #ccc;margin-bottom: 40px;}
.user .user-right .enterprise .en-content{padding-left: 40px;padding-right: 20px;}
.user .user-right .enterprise .en-content .en-p1{overflow: hidden;height: 32px;line-height: 32px;margin-bottom: 16px;}
.user .user-right .enterprise .en-content .en-p1 label{display: inline-block;float: left;width: 177px;font-size: 18px;color: #333;text-align: left;}
.user .user-right .enterprise .en-content .en-p1 input{display: inline-block;float: left;width: 353px;height: 30px;border: 1px solid #ccc;padding-left: 5px;line-height: 30px;font-size: 18px;color: #666;}
.user .user-right .enterprise .en-content .en-p1 input::-webkit-input-placeholder {color:#666;}  
.user .user-right .enterprise .en-content .en-p1 input:-moz-placeholder {color:#666;}  
.user .user-right .enterprise .en-content .en-p1 input::-moz-placeholder {color:#666;}  
.user .user-right .enterprise .en-content .en-p1 input:-ms-input-placeholder {color:#666;} 
.user .user-right .enterprise .en-content .en-p1 i.en-icon1{display: inline-block;float: left;width: 13px;height: 9px;background: url(../images/personal/security3.png) no-repeat;margin-top: 8px;margin-left:16px;} 
.user .user-right .enterprise .en-content .en-p1 i.en-icon2{display: inline-block;float: left;width: 11px;height: 11px;background: url(../images/personal/security4.png) no-repeat;margin-top: 12px;margin-left:16px;} 
.user .user-right .enterprise .en-content .en-p1 span{display: inline-block;font-size: 12px;color: #f00;margin-left: 20px;}
.user .user-right .enterprise .en-content .upload{overflow: hidden;margin-bottom: 50px;}
.user .user-right .enterprise .en-content .upload > h5{font-size: 18px;color: #333;font-weight: normal;text-align: left;}
.user .user-right .enterprise .en-content .upload .up-div1{float: left;margin-left: 177px;width: 270px;height: 240px;position: relative;z-index: 10;}
.user .user-right .enterprise .en-content .upload .up-div1 .up-p1{display: inline-block;width: 172px;height: 188px;border:1px solid #ccc;text-align: center;font-size: 24px;color: #999;padding-top: 50px;}
.user .user-right .enterprise .en-content .upload .up-div1 > a.up-a1{display: inline-block;position: absolute;z-index: 15;left: 190px;bottom: 0;font-size: 18px;color: #33ccff;}
.user .user-right .enterprise .en-content .upload .up-div2{float: left;width: 392px;height: 226px;border: 1px solid #ccc;margin-left: 100px;padding-top: 12px;padding-left: 6px;}
.user .user-right .enterprise .en-content .upload .up-div2 > h6{font-size: 18px;color: #f00;font-weight: normal;margin-bottom: 10px;}
.user .user-right .enterprise .en-content .upload .up-div2 .up-p2{padding-left: 50px;font-size: 14px;color: #666;}
.user .user-right .enterprise .en-content .upload .up-div2 .up-p3{overflow: hidden;padding-top: 10px;}
.user .user-right .enterprise .en-content .upload .up-div2 .up-p3 span{display: inline-block;float: left;font-size: 14px;color: #666;}
.user .user-right .enterprise .en-content .upload .up-div2 .up-p3 > img{display: inline-block;float: left;margin-left: 15px;}
.user .user-right .enterprise .en-content .en-sub{text-align: center;margin-bottom: 210px;}
.user .user-right .enterprise .en-content .en-sub > input{display: inline-block;width: 160px;height: 40px;background-color: #c00;font-size: 22px;color: #fff;text-align: center;line-height: 40px;border: none;}
/*购物车*/
.user .user-right .shop{width: 1020px;height: auto;display: none;margin-bottom: 200px;}
.user .user-right .shop ul{width: 1020px;}
.user .user-right .shop ul li{width: 1020px;overflow: hidden;background-color: #f9f9f9;margin-bottom: 20px;}
.user .user-right .shop ul li .sh-div1{width: 1020px;height: 48px;background-color: #ccc;line-height: 48px;padding-left: 40px;}
.user .user-right .shop ul li .sh-div1 > a.sh-a1{display: inline-block;}
.user .user-right .shop ul li .sh-div1 > a.sh-a1 > span{font-size: 14px;color: #666;}
.user .user-right .shop ul li .sh-div1 > a.sh-a1 > img{display: inline-block;vertical-align: middle;margin-right: 30px;}
.user .user-right .shop ul li .sh-div1 > a.sh-a2{display: inline-block;width: 96px;height: 28px;border: 1px dashed #f90202;text-align: center;line-height: 28px;font-size: 14px;color: #f00;}
.user .user-right .shop ul li .sh-div1 > a.sh-a2 > img{display: inline-block;vertical-align: middle;margin-left: 12px;}
.user .user-right .shop ul li > span.sh-span1{display: inline-block;float: left;width: 18px;height: 18px;border: 1px solid #999;line-height: 18px;text-align: center;margin: 63px 10px 98px;cursor: pointer;}
.user .user-right .shop ul li > span.sh-span1 > img{display: inline-block;}
.user .user-right .shop ul li .sh-div2{width: 300px;float: left;overflow: hidden;height: 180px;margin-right: 10px;}
.user .user-right .shop ul li .sh-div2 > p, .user .user-right .shop ul li .sh-div3 > p, .user .user-right .shop ul li .sh-div4 > p, .user .user-right .shop ul li .sh-div5 > p, .user .user-right .shop ul li .sh-div6 > p{height: 42px;line-height: 42px;text-align: center;border-bottom: 2px solid #ccc;margin-bottom: 5px;}
.user .user-right .shop ul li .sh-div2 > p > a, .user .user-right .shop ul li .sh-div3 > p > a, .user .user-right .shop ul li .sh-div4 > p > a, .user .user-right .shop ul li .sh-div5 > p > a, .user .user-right .shop ul li .sh-div6 > p > a{font-size: 18px;color: #666;}
.user .user-right .shop ul li .sh-div2 > img{display: inline-block;float: left;margin-left: 10px;margin-right: 16px;}
.user .user-right .shop ul li .sh-div2 > a.sh2-a{padding-top: 8px;display: inline-block;font-size: 14px;color: #666;}
.user .user-right .shop ul li .sh-div3{width: 200px;float: left;overflow: hidden;height: 180px;margin-right: 10px;}
.user .user-right .shop ul li .sh-div3 .sh3-con{margin-left: 35px;margin-bottom: 4px;}
.user .user-right .shop ul li .sh-div3 .sh3-con span{font-size: 14px;color: #666;}
.user .user-right .shop ul li .sh-div3 .sh3-con a.sh3-a{font-size: 14px;color: #666;}
.user .user-right .shop ul li .sh-div4{width: 110px;float: left;overflow: hidden;height: 180px;margin-right: 10px;}
.user .user-right .shop ul li .sh-div4 .sh4-con{padding-top: 35px;text-align: center;}
.user .user-right .shop ul li .sh-div4 .sh4-con span{display: inline-block;font-size: 14px;color: #666;vertical-align: middle;cursor: pointer;}
.user .user-right .shop ul li .sh-div4 .sh4-con .sh4-a{display: inline-block;width: 26px;height: 16px;border: 1px solid #666;line-height: 16px;text-align: center;font-size: 10px;color: #333;margin-left: 10px;margin-right: 10px;}
.user .user-right .shop ul li .sh-div5{width: 190px;float: left;overflow: hidden;height: 180px;margin-right: 10px;text-align: center;}
.user .user-right .shop ul li .sh-div5 > a.sh5-a, .user .user-right .shop ul li .sh-div6 > a.sh6-a{display: inline-block;padding-top: 36px;font-size: 14px;color: #666;}
.user .user-right .shop ul li .sh-div6{width: 130px;float: left;overflow: hidden;height: 180px;text-align: center;}
.user .user-right .shop .sh-account{overflow: hidden;height: 40px;background-color: #eee;line-height: 40px;}
.user .user-right .shop .sh-account .ac-p1{display:inline-block;float: left;width: 160px;padding-left: 6px;font-size: 14px;color: #333;}
.user .user-right .shop .sh-account .ac-p1 span.sh-span2{display: inline-block;width: 18px;height: 18px;border: 1px solid #999;line-height: 18px;text-align: center;cursor: pointer;margin-right: 10px;}
.user .user-right .shop .sh-account .ac-p2{display: inline-block;float: left;width: 360px;}
.user .user-right .shop .sh-account .ac-p2 > a{font-size: 14px;color: #333;}
.user .user-right .shop .sh-account .ac-p3{display: inline-block;float: left;font-size: 14px;color: #333;width: 372px;}
.user .user-right .shop .sh-account .ac-p3 .ac3-a1{display: inline-block;color: #333;width: 50px;text-align: center;}
.user .user-right .shop .sh-account .ac-p3 .ac3-a2{display: inline-block;color: #f00;font-size: 16px;font-weight: bold;width: 140px;}
.user .user-right .shop .sh-account > .ac-aa{display: inline-block;width: 120px;height: 40px;float: left;text-align: center;line-height: 40px;color: #fff;font-size: 22px;background-color: #f00;}
/*订单*/
.user .user-right .order{width: 1020px;height: auto;display: none;margin-bottom: 470px;}
.user .user-right .order ul{width: 1020px;}
.user .user-right .order ul li{width: 1020px;overflow: hidden;background-color: #f9f9f9;margin-bottom: 20px;}
.user .user-right .order ul li .or-div1{width: 1020px;height: 44px;background-color: #ccc;line-height: 44px;overflow: hidden;font-size: 14px;color: #666;}
.user .user-right .order ul li .or-div1 > p{display: inline-block;float: left;}
.user .user-right .order ul li .or-div1 > p > a{color: #666;}
.user .user-right .order ul li .or-div1 > p.or-p1{padding-left: 10px;margin-right: 30px;}
.user .user-right .order ul li .or-div1 > p.or-p2{margin-right: 35px;}
.user .user-right .order ul li .or-div1 > a.or-a1{display: inline-block;float: left;}
.user .user-right .order ul li .or-div1 > a.or-a1 > span{font-size: 14px;color: #666;}
.user .user-right .order ul li .or-div1 > a.or-a1 > img{display: inline-block;vertical-align: middle;}
.user .user-right .order ul li .or-div2{width: 280px;float: left;overflow: hidden;height: 160px;margin-right: 10px;}
.user .user-right .order ul li .or-div2 > p, .user .user-right .order ul li .or-div3 > p, .user .user-right .order ul li .or-div4 > p, .user .user-right .order ul li .or-div5 > p, .user .user-right .order ul li .or-div5 > p, .user .user-right .order ul li .or-div6 > p, .user .user-right .order ul li .or-div7 > p{height: 46px;line-height:46px;font-size: 18px;color: #666;text-align: center;border-bottom: 2px solid #ccc;}
.user .user-right .order ul li .or-div2 img{display: inline-block;width: 121px;height: 102px;float: left;margin-left: 10px;}
.user .user-right .order ul li .or-div2 > a.or2-a{display: inline-block;float: left;padding-top: 7px;padding-left: 16px;font-size: 14px;color: #666;}
.or-bottom1{margin-bottom: 5px;}
.or-bottom2{margin-bottom: 18px;}
.or-bottom3{margin-bottom: 45px;}
.or-bottom4{margin-bottom: 30px;}
.or-bottom5{margin-bottom: 40px;}
.user .user-right .order ul li .or-div3{width: 150px;float: left;overflow: hidden;height: 160px;margin-right: 10px;}
.user .user-right .order ul li .or-div3 .or3-con{padding-left: 5px;font-size: 14px;color: #666;margin-bottom: 10px;}
.user .user-right .order ul li .or-div3 .or3-con > a{color: #666;}
.user .user-right .order ul li .or-div4{width: 90px;float: left;overflow: hidden;height: 160px;margin-right: 10px;text-align: center;}
.user .user-right .order ul li .or-div4 > a{font-size: 14px;color: #333;}
.user .user-right .order ul li .or-div5{width: 140px;float: left;overflow: hidden;height: 160px;margin-right: 10px;text-align: center;}
.user .user-right .order ul li .or-div5 > a{font-size: 14px;color: #666;}
.user .user-right .order ul li .or-div6{width: 160px;float: left;overflow: hidden;height: 160px;margin-right: 10px;text-align: center;}
.user .user-right .order ul li .or-div6 .or6-a1, .user .user-right .order ul li .or-div6 .or6-a2{display: block;}
.user .user-right .order ul li .or-div6 .or6-a1{font-size: 14px;color: #00ccff;margin-bottom: 5px;}
.user .user-right .order ul li .or-div6 .or6-a2{font-size: 14px;color: #666;text-decoration: underline;}
.user .user-right .order ul li .or-div7{width: 150px;float: left;overflow: hidden;height: 160px;text-align: center;}
.user .user-right .order ul li .or-div7 > a.or7-a{width: 90px;height: 28px;background-color: #cc0000;color: #fff;display: inline-block;line-height: 28px;text-align: center;}
.user .user-right .order ul li .or-div7 > a.or7-a2{font-size: 14px;color: #666;}
/*账号信息*/
.user .user-right .account{width: 1018px;height: auto;border: 1px solid #ccc;}
.user .user-right .account .account-basis{width: 1000px;padding-left: 18px;padding-top: 18px;}
.user .user-right .account .account-basis li{font-size: 14px;margin-bottom: 10px;height: 34px;}
.user .user-right .account .account-basis li label{color: #666;display: inline-block;width: 88px;line-height: 34px;}
.user .user-right .account .account-basis li .account-label1{display: inline-block;width: 70px;height: 88px;vertical-align: top;}
.user .user-right .account .account-basis li.account-li1{margin-bottom: 20px;height: 90px;}
.user .user-right .account .account-basis li.account-li1 img{display: inline-block;width: 88px;height: 88px;}
.user .user-right .account .account-basis li.account-li1 > a{display: inline-block;color: #666;margin-left: 15px;}
.user .user-right .account .account-basis li input{display: inline-block;border: 1px solid #ccc;width: 273px;height: 32px;line-height: 32px;padding-left: 5px;color: #666;}
.user .user-right .account .account-basis li span{display: inline-block;color: #666;margin-left: 8px;}
.user .user-right .account .preferential{width: 1018px;height: auto;overflow: hidden;}
.user .user-right .account .preferential .preferential-p, .user .user-right .account .mail .mail-p, .user .user-right .account .make h3{height: 34px;line-height: 34px;font-size: 18px;color: #666;background-color: #ccc;padding-left: 12px;margin-bottom: 15px;letter-spacing: 2px;}
.user .user-right .account .preferential .pre1{width: 215px;height: 210px;float: left;margin-bottom: 15px;text-align: center;margin-left: 30px;}
.user .user-right .account .preferential .pre1 > a{display: inline-block;width: 100%;height: 100%;}
.user .user-right .account .preferential .pre1 > a > span{font-size: 18px;color: #999;}
.user .user-right .account .mail{width: 1018px;height: auto;}
.user .user-right .account .mail .mail-con1{margin-left: 50px;margin-right: 50px;border-bottom: 1px solid #ccc;margin-bottom: 25px;}
.user .user-right .account .mail .mail-con1 > p{margin-bottom: 15px;font-size: 14px;color: #666;}
.user .user-right .account .mail .mail-con1 > p label{display: inline-block;width: 96px;}
.user .user-right .account .mail .mail-con1 > p label.mail-label1{height: 50px;vertical-align: top;}
.user .user-right .account .mail .mail-con1 > p select{display: inline-block;width: 94px;height: 20px;border: 1px solid #999;margin-right: 18px;color: #666;}
.user .user-right .account .mail .mail-con1 > p textarea{display: inline-block;border: 1px solid #999;color: #666;padding-top: 5px;padding-left: 5px;}
.user .user-right .account .mail .mail-con1 > p input{display: inline-block;width: 333px;height: 20px;border: 1px solid #999;padding-left: 5px;color: #666;}
.user .user-right .account .mail .mail-con1 > a{display: inline-block;width: 140px;height: 36px;background-color: #cc0000;color: #fff;font-size: 18px;line-height: 36px;text-align: center;margin-left: 75px;margin-bottom: 22px;}
.user .user-right .account .mail .mail-con1 > p.mail-bottom1{margin-bottom: 30px;}
.user .user-right .account .mail .mail-con2{width: 1200px;overflow: hidden;height: auto;margin:0 50px 20px;}
.user .user-right .account .mail .mail-con2 li{float: left;width: 299px;margin-bottom: 10px;}
.user .user-right .account .mail .mail-con2 li.pay-right{margin-right: 10px;}
.user .user-right .account .mail .mail-con2 li div.active1{border-color:#f00;}
.user .user-right .account .mail .mail-con2 li .mail-con3{width: 287px;height: 143px;border: 2px solid #ccc;padding-top: 15px;padding-left: 8px;position: relative;z-index: 5;margin-bottom: 5px;}
.user .user-right .account .mail .mail-con2 li .mail-con3 p{overflow: hidden;font-size: 16px;margin-bottom: 6px;}
.user .user-right .account .mail .mail-con2 li .mail-con3 p span{display: inline-block;float: left;width: 68px;color: #666;}
.user .user-right .account .mail .mail-con2 li .mail-con3 p > a.mail-add1{display: inline-block;float: left;width: 198px;color: #666;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.user .user-right .account .mail .mail-con2 li .mail-con3 p > a.mail-add2{display: inline-block;float: left;width: 198px;color: #666;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.user .user-right .account .mail .mail-con2 li .mail-con3 > a.change{position: absolute;z-index: 10;right: 5px;bottom: 5px;font-size: 14px;color: #00ccff;}
.user .user-right .account .mail .mail-con2 li .mail-con3 > a.change > img{display: inline-block;margin-right: 2px;}
.user .user-right .account .mail .mail-con2 li > p.default{font-size: 14px;}
.user .user-right .account .mail .mail-con2 li > p.default > a{color: #666;}
/*开票信息*/
.user .user-right .account .make{width: 1200px;height: auto;overflow: hidden;padding-bottom: 70px;}
.user .user-right .account .make h3{font-weight: normal;}
.user .user-right .account .make .ma-div3{width: 312px;height: 220px;float: left;}
.user .user-right .account .make .ma-div3 div.active2{border-color: #f00;}
.user .user-right .account .make .ma-div3 .ma-div1{width: 300px;height: 175px;border: 1px solid #ccc;padding-top: 8px;padding-left: 10px;position: relative;z-index: 5;margin-bottom: 5px;}
.user .user-right .account .make .ma-div3 .ma-div1 > p{margin-bottom: 5px;font-size: 14px;overflow: hidden;}
.user .user-right .account .make .ma-div3 .ma-div1 > p > span{display: inline-block;width: 82px;float: left;color: #666;}
.user .user-right .account .make .ma-div3 .ma-div1 > p > i{display: inline-block;float: left;font-size: 14px;color: #666;font-style: normal;}
.user .user-right .account .make .ma-div3 .ma-div1 > p > a{display: inline-block;width: 190px;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #666;}
.user .user-right .account .make .ma-div3 .ma-div1 > a.change{position: absolute;z-index: 10;right: 5px;bottom: 5px;font-size: 14px;color: #00ccff;}
.user .user-right .account .make .ma-div3 .ma-div1 > a.change > img{display: inline-block;margin-right: 2px;}
.user .user-right .account .make .ma-div3 > p.default{font-size: 14px;}
.user .user-right .account .make .ma-div3 > p.default > a{color: #666;}
.ma-right1{margin-right: 17px;}
.ma-bottom1{margin-bottom: 28px;}
.ma-bottom2{margin-bottom: 3px;}
.user .user-right .account .make .ma-div2{width: 270px;height: 220px;float: left;overflow: hidden;margin-left: 14px;margin-right: 25px;}
.user .user-right .account .make .ma-div2 p{height: 20px;line-height: 20px;overflow: hidden;font-size: 14px;}
.user .user-right .account .make .ma-div2 p > label{display: inline-block;float: left;width: 85px;color: #666;}
.user .user-right .account .make .ma-div2 p > input{display: inline-block;float: left;width: 168px;height: 18px;border: 1px solid #ccc;color: #666;}
.user .user-right .account .make .ma-div2 .add{float: right;width: 100px;height: 32px;background-color: #cc0000;text-align: center;line-height: 32px;color: #fff;margin-right: 16px;}