body{background-color: #f5f5f5;}
/*在线查询*/
.online{width: 100%;height: 340px;background: url(../images/policy/policy-bg.jpg) no-repeat center;margin-bottom: 45px;}
.online-search form > a{display: inline-block;position: absolute;z-index: 30;left: 0;top:50px;width: 96px;height: 39px;border-top: 1px solid #ccc;background-color: #fff;font-size: 18px;color: #333;padding-top: 10px;padding-left: 14px;display: none;}
.online .online-content{width: 1200px;height: 260px;margin-left: auto;margin-right: auto;padding-top: 80px;overflow: hidden;}
.online .online-content h3{font-size: 36px;color: #fff;font-weight: normal;text-align: center;margin-bottom: 40px;letter-spacing: 5px;}
.online .online-content .online-search{float: left;width: 780px;height: 50px;background-color: #fff;margin-left: 146px;margin-bottom: 20px;}
.online-search form{width: 100%;height: 100%;display: block;position: relative;z-index: 20;}
.online-search form label{display: block;float: left;width: 101px;height: 30px;line-height: 30px;padding-left: 10px;border-right: 1px solid #999;margin-top: 10px;margin-bottom: 10px;}
.online-search form label a{font-size: 18px;color: #333;width: 100%;height: 100%;display: inline-block;}
.online-search form label a img{padding-left: 5px;padding-right: 6px;}
.online-search form input{width: 650px;height: 50px;border: none;float: left;padding-left: 18px;color: #999;font-size: 24px;line-height: 50px;}
.online-search form input::-webkit-input-placeholder{color: #ccc;font-size: 24px;line-height: 50px;}
.online .online-content > a{display: block;float: left;width: 120px;height: 50px;background-color: #f00;font-size: 24px;color: #fff;line-height: 50px;margin-left: 20px;}
.online .online-content > a > img{display: inline-block;margin-left: 10px;margin-right: 12px;vertical-align: middle;}
.online .online-content p{clear: left;margin-left: 146px;font-size: 14px;color: #fff;}
.online .online-content p > a{color: #fff;padding-left: 8px;padding-right: 15px;}
/*高级搜索*/
.search{width: 946px;height: 175px;margin-left: auto;margin-right: auto;margin-top: -90px;background-color: #fff;margin-bottom: 60px;padding-left: 154px;padding-top: 25px;overflow: hidden;box-shadow: 0 2px 5px #d9d9d9;}
.search ul{width: 400px;height: 100%;float: left;}
.search ul li{height: 30px;margin-bottom: 10px;line-height: 30px;}
.search ul li label{display: inline-block;width: 75px;margin-right: 20px;font-size: 18px;color: #333;}
.search ul li select{display: inline-block;width: 198px;height: 28px;border: 1px solid #999;cursor: pointer;}
.search .sub-mit{display: inline-block;float: left;width: 150px;height: 36px;background-color: #cc0000;color: #fff;font-size: 24px;text-align: center;line-height: 36px;border: none;margin-left: 88px;margin-top: 120px;cursor: pointer;}
/*详情*/
.details{width: 1104px;height: auto;background-color: #fff;padding: 20px 48px 37px;margin:0 auto 48px;}
.details ul{widows: 1104px;margin-bottom: 50px;}
.details ul li{border-bottom: 1px dashed #666;height: 40px;line-height: 40px;margin-bottom: 20px;position: relative;z-index: 30;}
.details ul li .de-p1{float: left;width: 800px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.details ul li .de-p2{float: right;}
.details ul li .de-p1 > a, .details ul li .de-p2 > a{color: #666;font-size: 18px;}
.details ul li > span{display: inline-block;width: 34px;height: 24px;background: url(../images/policy/hot.png) no-repeat;position: absolute;z-index: 50;left: -36px;top: -4px;}
/* 内页跳转 */
.inside{font-size: 14px;text-align: center;height: 30px;line-height: 30px;}
.inside > p{display: inline-block;margin-left: 25px;margin-right: 25px;color: #999;}
.inside > p > a.num{display: inline-block;padding-left: 8px;padding-right: 8px;color: #999;}
.inside > p > a.num:active{color: #33ccff;}
.inside > p > span{display: inline-block;color: #999;}
.inside > .in-btn1{display: inline-block;width:78px;height: 24px;border: 1px solid #ccc;text-align: center;line-height: 24px;color: #999;}
.inside > .in-btn2{display: inline-block;width:80px;height: 26px;text-align: center;line-height: 26px;color: #fff;background-color: #cc0000;}
.inside > p > a.hr{color: #33ccff;text-decoration: underline;}
.inside > p > input{display: inline-block;width: 34px;height: 24px;border: 1px solid #ccc;padding-left: 4px;color: #999;}