body{background-color: #fff;}
input{cursor: pointer;}
/*登录注册*/
/*登录*/
.login{width: 100%;height: 575px;background:url(../images/login/banner1.jpg) no-repeat center;padding-top: 65px;}
.login .lo{width: 1200px;height: auto;margin-left: auto;margin-right: auto;overflow: hidden;}
.login .lo .lo-content{width: 520px;height: 412px;background-color: #fff;float: right;margin-right: 30px;padding-left: 10px;padding-right: 10px;padding-top: 8px;}
.login .lo .lo-content .lo-tab{width: 520px;margin-bottom: 14px;height: 31px;}
.login .lo .lo-content .lo-tab > a{display: inline-block;width: 260px;float: left;text-align: center;line-height: 30px;height: 30px;border-bottom: 1px solid #ccc;font-size: 16px;color: #999;}
.login .lo .lo-content .lo-tab > a.act{border-bottom: 2px solid #cc0000;}
.login .lo .lo-content .lo-login{margin-left: 30px;margin-right: 30px;width: 460px;display: none;}
.login .lo .lo-content .lo-login .lo-p1{padding-left: 60px;padding-right: 60px;width: 320px;overflow: hidden;height: 28px;line-height: 28px;margin-bottom: 12px;}
.login .lo .lo-content .lo-login .lo-p1 label, .login .lo .lo-content .lo-login .lo-p3 label{display: inline-block;width: 85px;float: left;font-size: 18px;color: #333;}
.login .lo .lo-content .lo-login .lo-p1 .lo-input1, .login .lo .lo-content .lo-login .lo-p1 .lo-input2{display: inline-block;vertical-align: middle;font-size: 14px;color: #333;}
.login .lo .lo-content .lo-login .lo-p1 .lo-input1{margin-left: 24px;}
.login .lo .lo-content .lo-login .lo-p1 .lo-input2{margin-left: 60px;}
.login .lo .lo-content .lo-login .lo-p1 .lo-input3, .login .lo .lo-content .lo-login .lo-p3 .lo-input3{display: inline-block;width: 228px;height: 26px;border: 1px solid #999;line-height: 26px;padding-left: 5px;float: left;}
.login .lo .lo-content .lo-login .lo-p1 .lo-input4{display: inline-block;width: 113px;height: 26px;border: 1px solid #999;line-height: 26px;padding-left: 5px;float: left;}
.login .lo .lo-content .lo-login .lo-p1 .code{float: left;display: inline-block;width: 90px;height: 28px;margin-left: 20px;}
.login .lo .lo-content .lo-login .lo-p2, .login .lo .lo-content .lo-login .lo-p3{padding-left: 60px;padding-right: 60px;width: 320px;}
.login .lo .lo-content .lo-login .lo-p3 > a{display: block;text-align: right;color: #00ccff;font-size: 14px;text-decoration: underline;margin-bottom: 10px;}
.login .lo .lo-content .lo-login .lo-p2 .sub{display: block;margin:0 auto 13px;width: 140px;height: 40px;background-color: #cc0000;font-size: 22px;color: #fff;line-height: 40px;text-align: center;border: none;}
.login .lo .lo-content .lo-login h6{padding-top: 10px;border-top: 1px solid #ccc;font-weight: normal;font-size: 14px;color: #999;margin-bottom: 18px;}
.login .lo .lo-content .lo-login .third{overflow: hidden;}
.login .lo .lo-content .lo-login .third .th-qq{display: inline-block;width:50px;height: 50px;background:url(../images/login/qq.jpg) no-repeat;margin-left: 84px;margin-right: 55px;}
.login .lo .lo-content .lo-login .third .th-weixin{display: inline-block;width:50px;height: 50px;background:url(../images/login/weixin.jpg) no-repeat;} 
/*注册*/
.login .lo .lo-content .registered{margin-left: 50px;margin-right:110px;width: 360px;}
.login .lo .lo-content .registered .re-li1{width: 360px;overflow: hidden;height: 28px;margin-bottom: 10px;}
.login .lo .lo-content .registered .re-li3{width: 360px;overflow: hidden;height: 28px;}
.login .lo .lo-content .registered .re-li1 label{display:inline-block;float: left;width: 70px;font-size: 16px;color:#333;text-align: right;padding-right:20px;}
.login .lo .lo-content .registered .re-li1 input{display: inline-block;float: left;width: 263px;height: 26px;border: 1px solid #999;padding-left: 5px;line-height: 26px;}
.login .lo .lo-content .registered .re-li1 input.re-input1{display: inline-block;float: left;width: 173px;height: 26px;border: 1px solid #999;padding-left: 5px;line-height: 26px;margin-right: 10px;}
.login .lo .lo-content .registered .re-li1 > a.validation{display: inline-block;width: 80px;height: 28px;background-color: #33ccff;color: #fff;text-align: center;line-height: 28px;font-size: 14px;}
.login .lo .lo-content .registered .re-li2{width: 360px;overflow: hidden;height: 28px;margin-bottom: 35px;text-align: right;}
.login .lo .lo-content .registered .re-li2 > a{font-size: 14px;color: #33ccff;}
.login .lo .lo-content .registered .re-li3 input.re-input2{display: inline-block;vertical-align: middle;margin-left: 90px;}
.login .lo .lo-content .registered .re-li3 > span{font-size: 12px;color: #33ccff;}
.login .lo .lo-content .registered .re-li4 .sub{display: block;margin:0 auto 13px;width: 140px;height: 40px;background-color: #cc0000;font-size: 22px;color: #fff;line-height: 40px;text-align: center;border: none;}