body{background-color: #fff;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/software_code/banner1.jpg) no-repeat center;}
/*上传代码过程*/
.code{width: 1200px;margin-left: auto;margin-right: auto;height: 560px;
}
.code_process{width: 1200px;height: 220px;background: url(../images/software_code/process1.png) no-repeat center;margin-left: auto;margin-right: auto;}
h3{font-size: 28px;color: #ccc;font-weight: normal;text-align: center;letter-spacing: 3px;padding:10px 0 30px;border-bottom: 1px solid #959595;margin: 0 50px 38px;margin-left: auto;margin-right: auto;width: 1100px;}
.code ul{width: 100%;overflow: hidden;margin-bottom: 70px;}
.code ul li{float: left;height: 30px;line-height: 30px;}
.code ul li a{font-size: 16px;color: #0099ff;letter-spacing: 1px;}
.code ul li a img{display: inline-block;vertical-align: middle;margin-right: 14px;}
.code ul li.co-li1{margin-left: 49px;margin-right: 84px;}
.code .steps{padding-left: 284px;overflow: hidden;}
.code .steps a{display: inline-block;float: left;letter-spacing: 1px;}
.code .steps a.steps-a1{width: 138px;height: 34px;line-height: 34px;border: 1px solid #cc0000;font-size: 18px;color: #cc0000;text-align: center;}
.code .steps a.steps-a2{width: 140px;height: 36px;background-color: #cc0000;color: #fff;text-align: center;font-size: 18px;line-height: 34px;}
.code .steps a.steps-margin{margin-left: 106px;margin-right: 303px;}