body{background-color: #fff;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/success_pay/banner1.jpg) no-repeat center;}
/*支付内容*/
.pay-content{width: 1200px;margin-left: auto;margin-right: auto;height: 540px;}
.pay-content p{width: 100%;height: 220px;background: url(../images/success_pay/process.png) no-repeat center;}
.pay-content h3{font-size: 28px;color: #ccc;font-weight: normal;text-align: center;letter-spacing: 3px;padding:10px 0 30px;border-bottom: 1px solid #959595;margin-bottom: 66px;margin-right: 50px;margin-left: 50px;}
.pay-content .pay-continue{text-align: center;}
.pay-content .pay-continue a{display: inline-block;width: 140px;height: 36px;background-color: #cc0000;font-size: 20px;color: #fff;letter-spacing: 2px;line-height: 36px;}