body{background-color: #fff;}
/*背景图*/
.banner{width: 100%;height: 100px;background: url(../images/technology/banner-t.jpg) no-repeat center;margin-bottom: 37px;}
/*技术文档*/
.technology{width: 1200px;height: auto;overflow: hidden;margin-left: auto;margin-right: auto;margin-bottom: 125px;}
.technology .te-left{width: 298px;height: 598px;border: 1px solid #ccc;float: left;margin-right:10px;overflow-x:hidden;overflow-y:auto; }
.technology .te-left h4{line-height:26px;color: #333;font-size: 14px;padding-left: 10px;font-weight: normal;margin-bottom: 5px;padding-top: 5px;}
.technology .te-right{width: 890px;height:860px;float: left;}
/*选项卡*/
button.accordion {background-color: #eee;color: #666;cursor: pointer;padding: 4px 12px 4px 22px;width: 100%;border: none;text-align: left;outline: none;font-size: 12px;transition: 0.4s;position: relative;z-index: 10;}

button.accordion.active, button.accordion:hover {background-color: #ddd;}
button b{width: 9px;height: 7px;display: inline-block;position: absolute;z-index: 20;right: 11px;top: 8px;background:url(../images/technology/icon.png) no-repeat center;}
.panel {padding: 0 30px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
.panel p{font-size: 12px;line-height: 20px;height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.panel p a{color: #666;display: inline-block;}
.panel p a:active{color: #00ccff;}
/*专利审查指南*/
.technology .te-right .te-right-content1{width: 888px;height: 78px;border: 1px solid #ccc;margin-bottom: 10px;}
.technology .te-right .te-right-content1 p{height: 32px;padding-left: 20px;line-height: 32px;background-color: #ccc;font-size: 14px;color: #333;}
.technology .te-right .te-right-content1 .te-1-1{line-height: 30px;padding-left: 158px;height: 30px;padding-top: 8px;padding-bottom: 8px;}
.technology .te-right .te-right-content1 .te-1-1 label{font-size: 14px;color: #333;padding-right: 15px;}
.technology .te-right .te-right-content1 .te-1-1 .text{width: 353px;height: 28px;border: 1px solid #cccccc;padding-left: 5px;font-size: 14px;color: #333;}
.technology .te-right .te-right-content1 .te-1-1 .sub{width: 80px;height: 30px;color: #fff;font-size: 18px;line-height: 30px;background-color: #cc0000;border: none;cursor: pointer;}
.technology .te-right .te-right-content2{width: 852px;height: 750px;border: 1px solid #ccc;padding: 7px 18px;overflow-x:hidden;overflow-y:auto;}
.technology .te-right .te-right-content2 p{font-size: 12px;line-height: 2;}
.technology .te-right .te-right-content2 p a{color: #666;}